<ion-view view-title="Activity-Detail" class="activity-detail">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Activity Detail</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-camera-outline right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="head row">
      <a href="" class="col-25">3<br>客户</a>
      <a href="" class="col-25">1<br>商机</a>
      <a href="" class="col-25">3<br>联系人</a>
      <a href="" class="col-25">1<br>附件</a>
    </div>
    <p class="split">基本信息</p>
    <div class="detail">
      <p class="row"><span class="col-25"><i class="icon ion-ios-bookmarks-outline"></i></span><span class="col-50">新产品展览</span><i class="icon ion-android-close"></i><i class="icon ion-android-create"></i></p>
      <p class="row"><span class="col-25">类型</span><span>展示</span></p>
      <p class="row"><span class="col-25">销售</span><span>Andy</span></p>
      <p class="row"><span class="col-25">联系人</span><span class="col-50">Tony</span><i class="icon ion-ios-chatbubble-outline"></i><i class="icon ion-ios-telephone-outline"></i></p>
      <p class="row"><span class="col-25">主要客户</span><span>阿里巴巴科技公司</span></p>
      <p class="row"><span class="col-25">状态</span><span class="col-50">已完成</span><i class="icon ion-ios-arrow-right right"></i></p>
      <p class="row"><span class="col-25">预计收入</span><span>28,000</span></p>
      <p class="row"><span class="col-25">预算金额</span><span>20,000</span></p>
      <p class="row"><span class="col-25">币种</span><span>CNY</span></p>
      <p class="row"><span class="col-25">开始日期</span><span>2015-11-11 10:00</span></p>
      <p class="row"><span class="col-25">结束日期</span><span>2015-11-11 12:00</span></p>
      <p class="row"><span class="col-25">优先级</span><span>高</span></p>
      <p class="row"><span class="col-25">说明</span><span>针对15年冬季新产品,免费展示</span></p>
    </div>
    <div class="tool">
      <button><i class="icon ion-ios-camera-outline"></i></button>
      <button><i class="icon ion-ios-location-outline"></i></button>
      <button><i class="icon ion-ios-mic-outline"></i></button>
      <button><i class="icon ion-ios-upload-outline"></i></button>
    </div>
  </ion-content>
</ion-view>
