<ion-view view-title="Message" class="message">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Message</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-search right"></i>
    </button>
  </ion-header-bar>
  <style>

  </style>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="chat in chats track by $index"
      type="item-text-wrap" href="#/tab/home/message/{{chat.people}}">
        <img ng-src="{{chat.face}}"><span class="messageNum">{{chat.messageNum}}</span>
        <p class="name">{{chat.people}}</p><p class="time"><span>{{chat.date}}</span><br><span>{{chat.time}}</span></p><br>
        <p class="text">{{chat.message[chat.message.length - 1]}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
