<ion-view view-title="Team" class="team">
  <ion-header-bar align-title="center" class="head-bar" >
    <h1 class="title">Team</h1>
  </ion-header-bar>
  <style>

  </style>
  <ion-content>
    <p class="split">沟通交流</p>
    <div class="common">
      <a><i class="icon ion-ios-cloud-outline"></i>工作圈 <i class="icon ion-ios-arrow-right right"></i><span>1</span></a>
      <a><i class="icon ion-ios-chatbubble-outline"></i>私聊 <i class="icon ion-ios-arrow-right right"></i><span>2</span></a>
      <a><i class="icon ion-ios-chatboxes-outline"></i>群聊 <i class="icon ion-ios-arrow-right right"></i><span>3</span></a>
    </div>
    <p class="split">知识管理</p>
    <div class="common">
      <a><i class="icon ion-ios-glasses-outline"></i>查其他人活动 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
  </ion-content>
</ion-view>
