<ion-slide-box>
  <ion-slide>
    <ion-view view-title="Home" class="home">
      <ion-header-bar align-title="center" class="head-bar" >
        <button class="button" ng-click="goScan()">
          Scan
        </button>
        <h1 class="title">Home</h1>
        <button class="button" ng-click="goContacts()">
          Contacts
        </button>
      </ion-header-bar>
      <div class="search">
        <input type="text" ng-model="search"  placeholder="输入客户/联系人/活动/消息关键字"><i ng-click="goSearchResult()" class="icon ion-ios-search"></i>
      </div>
      <ion-content class="padding">
        <div class="date">
          <table >
            <thead>
            <tr>
              <th>SUN</th>
              <th>MON</th>
              <th>TUE</th>
              <th>WED</th>
              <th>THU</th>
              <th>FRI</th>
              <th>SAT</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="lastMonth" ng-class="{true:'selected',false:''}[selected[0]]" ng-click="chooseDate(31)">31</td>
              <td class="selected has-activity" ng-class="{true:'selected',false:''}[selected[1]]" ng-click="chooseDate(1)">1</td>
              <td ng-click="chooseDate(2)" ng-class="{true:'selected',false:''}[selected[2]]">2</td>
              <td class="has-activity" ng-class="{true:'selected',false:''}[selected[3]]" ng-click="chooseDate(3)">3</td>
              <td ng-click="chooseDate(4)" ng-class="{true:'selected',false:''}[selected[4]]">4</td>
              <td class="has-activity" ng-class="{true:'selected',false:''}[selected[5]]" ng-click="chooseDate(5)">5</td>
              <td ng-class="{true:'selected',false:''}[selected[6]]" ng-click="chooseDate(6)">6</td>
            </tr>
            <tr>
              <td ng-class="{true:'selected',false:''}[selected[7]]" ng-click="chooseDate(7)">7</td>
              <td ng-class="{true:'selected',false:''}[selected[8]]" ng-click="chooseDate(8)">8</td>
              <td ng-class="{true:'selected',false:''}[selected[9]]" ng-click="chooseDate(9)">9</td>
              <td ng-class="{true:'selected',false:''}[selected[10]]" ng-click="chooseDate(10)">10</td>
              <td ng-class="{true:'selected',false:''}[selected[11]]" ng-click="chooseDate(11)">11</td>
              <td class="has-activity" ng-class="{true:'selected',false:''}[selected[12]]" ng-click="chooseDate(12)">12</td>
              <td ng-class="{true:'selected',false:''}[selected[13]]" ng-click="chooseDate(13)">13</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="activity">
          <p><i class="icon ion-ios-browsers-outline"></i>活动</p>
          <ion-list>
            <ion-item class="item-avatar"
                      ng-repeat="activity in activities" type="item-text-wrap"
                      ng-click="goActivityDetail(activity.activityId)">
              <span class="time" ng-bind="activity.time"></span><span class="content" ng-bind="activity.content"></span><i class="icon" ng-class="{true:'ion-ios-star', false:'ion-ios-star-outline'}[activity.completed]"></i>
            </ion-item>
          </ion-list>
          <p ng-show="noActivities">无</p>
        </div>
        <div class="has-msg-span common" >
          <p ng-click="goExpenseClaim()"><i class="icon ion-ios-checkmark-outline"></i>报销单审批 <i class="icon ion-ios-arrow-right right"></i><span>2</span></p>
        </div>
        <div class="has-msg-span common">
          <p ng-click="goMessage()"><i class="icon ion-ios-paperplane-outline"></i>消息 <i class="icon ion-ios-arrow-right right"></i><span>10</span></p>
        </div>
      </ion-content>
    </ion-view>

  </ion-slide>
  <ion-slide>
    <div ng-include="'templates/Home/dashboard-aggregate.html'">
    </div>
  </ion-slide>
  <ion-slide >
    <div ng-include="'templates/work-circle.html'">
    </div>
  </ion-slide>
</ion-slide-box>

