<ion-slide-box show-pager="false">
  <ion-slide>
    <ion-view view-title="Home" class="home">
      <ion-header-bar align-title="center" class="head-bar" >
        <button class="button icon" ng-click="goScan()">
          Scan
        </button>
        <h1 class="title">Home</h1>
        <button class="button icon" ng-click="goContacts()">
          Contacts
        </button>
      </ion-header-bar>
      <div class="search">
        <input type="text" ng-model="search"  placeholder="输入客户/联系人/活动/消息关键字"><i ng-click="goSearchResult()" class="icon ion-ios-search"></i>
      </div>
      <div class="toast" ng-class="{true:'show', false:''}[showReturn]">
        再次点击返回键退出应用
      </div>
      <ion-content class="padding">
        <div class="date">
          <table >
            <thead>
            <tr>
              <th>SUN</th>
              <th>MON</th>
              <th>TUE</th>
              <th>WED</th>
              <th>THU</th>
              <th>FRI</th>
              <th>SAT</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="lastMonth" ng-class="{true:'selected',false:''}[selected[0]]" ng-click="chooseDate(31)">31</td>
              <td class="selected has-activity" ng-class="{true:'selected',false:''}[selected[1]]" ng-click="chooseDate(1)">1</td>
              <td ng-click="chooseDate(2)" ng-class="{true:'selected',false:''}[selected[2]]">2</td>
              <td class="has-activity" ng-class="{true:'selected',false:''}[selected[3]]" ng-click="chooseDate(3)">3</td>
              <td ng-click="chooseDate(4)" ng-class="{true:'selected',false:''}[selected[4]]">4</td>
              <td class="has-activity" ng-class="{true:'selected',false:''}[selected[5]]" ng-click="chooseDate(5)">5</td>
              <td ng-class="{true:'selected',false:''}[selected[6]]" ng-click="chooseDate(6)">6</td>
            </tr>
            <tr>
              <td ng-class="{true:'selected',false:''}[selected[7]]" ng-click="chooseDate(7)">7</td>
              <td ng-class="{true:'selected',false:''}[selected[8]]" ng-click="chooseDate(8)">8</td>
              <td ng-class="{true:'selected',false:''}[selected[9]]" ng-click="chooseDate(9)">9</td>
              <td ng-class="{true:'selected',false:''}[selected[10]]" ng-click="chooseDate(10)">10</td>
              <td ng-class="{true:'selected',false:''}[selected[11]]" ng-click="chooseDate(11)">11</td>
              <td class="has-activity" ng-class="{true:'selected',false:''}[selected[12]]" ng-click="chooseDate(12)">12</td>
              <td ng-class="{true:'selected',false:''}[selected[13]]" ng-click="chooseDate(13)">13</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="activity">
          <p><i class="icon ion-ios-browsers-outline"></i>活动</p>
          <ion-list>
            <ion-item class="item-avatar"
                      ng-repeat="activity in activities" type="item-text-wrap"
                      ng-click="goActivityDetail(activity.activityId)">
              <span class="time" ng-bind="activity.time"></span><span class="content" ng-bind="activity.content"></span><i class="icon" ng-class="{true:'ion-ios-star', false:'ion-ios-star-outline'}[activity.completed]"></i>
            </ion-item>
          </ion-list>
          <p ng-show="noActivities">无</p>
        </div>
        <div class="has-msg-span common" >
          <p ng-click="goExpenseClaim()"><i class="icon ion-ios-checkmark-outline"></i>报销单审批 <i class="icon ion-ios-arrow-right right"></i><span ng-show="claimNum">{{claimNum}}</span></p>
        </div>
        <div class="has-msg-span common">
          <p ng-click="goMessage()"><i class="icon ion-ios-paperplane-outline"></i>消息 <i class="icon ion-ios-arrow-right right"></i><span ng-show="messageNum">{{messageNum}}</span></p>
        </div>


      </ion-content>
      <style>
        .home .show-small-tool{
          position: fixed;
          bottom:55px;
          right:5px;
          background-color: #555;
          width: 40px;
          height: 40px;
          border-radius:20px;
          line-height: 40px;
          font-size: 0;
          text-align: center;
          z-index: 10;
        }
        .home .show-small-tool span{
          display: inline-block;
          vertical-align: middle;
          width: 22.63px;
          height: 1px;
          background-color: white;
          transition: background-color 0.2s;
        }
        .home .show-small-tool span:before{
          content: '';
          display: inline-block;
          position: absolute;
          top:12px;
          left:8.65px;
          width: 22.63px;
          height: 1px;
          background-color: white;
          transition: transform 0.2s;
        }
        .home .show-small-tool span:after{
          content: '';
          display: inline-block;
          position: absolute;
          top:28px;
          left:8.65px;
          width: 22.63px;
          height: 1px;
          background-color: white;
          transition: transform 0.4s;
        }
        .home .show-small-tool.close-small-tool span{
          background-color:transparent;
          transition: background-color 0.4s;
        }
        .home .show-small-tool.close-small-tool span:before{
          transform: translateY(7.4px) rotate(45deg);
          transition: all 0.4s;
        }
        .home .show-small-tool.close-small-tool span:after{
          transform: translateY(-8px) rotate(-45deg);
          transition: all 0.4s;
        }
        .home .small-tool{
          position: fixed;
          bottom:60px;
          right:10px;
          background-color: #555;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          line-height: 30px;
          font-size: 0;
          text-align: center;
          z-index: 9;
          transition: all 0.4s;
        }
        .home .small-tool i{
          font-size: 20px;
          color: #fff;
        }
        .home .tool-one.show{
          transform: translateY(-80px);
          transition: all 0.4s;
        }
        .home .tool-two.show{
          transform: translate(-69.28px,-40px);
          transition: all 0.4s;
        }
        .home .tool-three.show{
          transform: translate(-40px,-69.28px);
          transition: all 0.4s;
        }
        .home .tool-four.show{
          transform: translateX(-80px);
          transition: all 0.4s;
        }
      </style>
      <div class="show-small-tool" ng-class="{true:'close-small-tool', false:''}[showSmallTool]" ng-click="clickSmallTool()">
        <span>
        </span>
      </div>
      <div class="small-tool tool-one" ng-click="toNight()" ng-class="{true:'show', false:''}[showSmallTool]">
        <i class="icon ion-ios-moon-outline"></i>
      </div>
      <div class="small-tool tool-two" ng-click="" ng-class="{true:'show', false:''}[showSmallTool]">
        <i class="icon ion-ios-gear-outline"></i>
      </div>
      <div class="small-tool tool-three" ng-click=""  ng-class="{true:'show', false:''}[showSmallTool]">
        <i class="icon ion-ios-paper-outline"></i>
      </div>
      <div class="small-tool tool-four" ng-click="goLock()" ng-class="{true:'show', false:''}[showSmallTool]">
        <i class="icon ion-ios-locked-outline"></i>
      </div>
    </ion-view>
  </ion-slide>
  <ion-slide>
    <div ng-include="'templates/Home/dashboard-aggregate.html'">
    </div>
  </ion-slide>
  <ion-slide >
    <div ng-include="'templates/Synergy/work-circle.html'">
    </div>
  </ion-slide>
</ion-slide-box>

