<ion-view view-title="Me" class="me">
  <ion-header-bar align-title="center" class="head-bar" >
    <h1 class="title">Me</h1>
  </ion-header-bar>
  <ion-content>
    <div class="info">
      <div>
        <img src="img/me.jpg">
        <div>
          <p>袁梦</p>
          <label>工号:</label><span>1004</span>
        </div>
        <div>
          <span>个人签名:</span><br>
          <span>Do myself!</span>
        </div>
        <i class="icon ion-ios-arrow-right right"></i>
      </div>
    </div>
    <div class="common">
      <p><i class="icon ion-ios-heart-outline"></i>收藏 <i class="icon ion-ios-arrow-right right"></i></p>
      <p><i class="icon ion-ios-compose-outline"></i>发邮件 <i class="icon ion-ios-arrow-right right"></i></p>
      <p><i class="icon ion-ios-paper-outline"></i>通讯录 <i class="icon ion-ios-arrow-right right"></i></p>
    </div>
    <div class="common">
      <p><i class="icon ion-ios-gear-outline"></i>密码设置 <i class="icon ion-ios-arrow-right right"></i></p>
    </div>
  </ion-content>
</ion-view>
