<ion-view view-title="Work" class="work">
  <ion-header-bar align-title="center" class="head-bar" >
    <h1 class="title">Work</h1>
  </ion-header-bar>
  <ion-content>
    <p class="split">报销管理</p>
    <div class="common">
      <a><i class="icon ion-ios-paper-outline"></i>报销快速记 <i class="icon ion-ios-arrow-right right"></i></a>
      <a><i class="icon ion-ios-download-outline"></i>新增费用 <i class="icon ion-ios-arrow-right right"></i></a>
      <a><i class="icon ion-ios-search"></i>费用查询 <i class="icon ion-ios-arrow-right right"></i></a>
      <a><i class="icon ion-ios-checkmark-outline"></i>报销审批 <i class="icon ion-ios-arrow-right right"></i></a>
      <a><i class="icon ion-ios-book-outline"></i>费用报表 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
    <p class="split">日程管理</p>
    <div class="common">
      <a><i class="icon ion-ios-calendar-outline"></i>日历 <i class="icon ion-ios-arrow-right right"></i></a>
      <a><i class="icon ion-ios-pricetags-outline"></i>新增活动 <i class="icon ion-ios-arrow-right right"></i></a>
      <a><i class="icon ion-ios-glasses-outline"></i>查其他人活动 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
  </ion-content>
</ion-view>
