<ion-view view-title="Address-list" class="address-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Address List</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-search right"></i>
    </button>
  </ion-header-bar>
  <ul class="nav">
    <li ng-click="scrollGo(0)">↑</li>
    <li ng-click="scrollGo('A')">A</li>
    <li ng-click="scrollGo('B')">B</li>
    <li ng-click="scrollGo('C')">C</li>
    <li ng-click="scrollGo('D')">D</li>
    <li ng-click="scrollGo('E')">E</li>
    <li ng-click="scrollGo('F')">F</li>
    <li ng-click="scrollGo('G')">G</li>
    <li ng-click="scrollGo('H')">H</li>
    <li ng-click="scrollGo('I')">I</li>
    <li ng-click="scrollGo('J')">J</li>
    <li ng-click="scrollGo('K')">K</li>
    <li ng-click="scrollGo('L')">L</li>
    <li ng-click="scrollGo('M')">M</li>
    <li ng-click="scrollGo('N')">N</li>
    <li ng-click="scrollGo('O')">O</li>
    <li ng-click="scrollGo('P')">P</li>
    <li ng-click="scrollGo('Q')">Q</li>
    <li ng-click="scrollGo('R')">R</li>
    <li ng-click="scrollGo('S')">S</li>
    <li ng-click="scrollGo('T')">T</li>
    <li ng-click="scrollGo('U')">U</li>
    <li ng-click="scrollGo('V')">V</li>
    <li ng-click="scrollGo('W')">W</li>
    <li ng-click="scrollGo('X')">X</li>
    <li ng-click="scrollGo('Y')">Y</li>
    <li ng-click="scrollGo('Z')">Z</li>
    <li ng-click="scrollGo(1)">#</li>
  </ul>
  <span class="nav-back"></span>
  <ion-content on-drag="onDrag()" overflow-scroll="true" on-swipe="onSwipe()">
    <div class="contacts" ng-repeat="contact in contacts track by $index">
      <p class="split" ng-if="showSplit(contact.name)" ng-bind="toChar(contact.name)" id="{{toChar(contact.name)}}"></p>
      <div ng-click="goAddressDetail(contact.name)">
        <img ng-src="{{contact.face}}">
        <span>{{contact.name}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
