<ion-view view-title="Address-list" class="address-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Address List</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-search right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="contacts" ng-repeat="contact in contacts track by $index">
      <p class="split" ng-show="showSplit(contact.name)" ng-bind="toChar(contact.name)"></p>
      <div ng-click="goAddressDetail(contact.name)">
        <img ng-src="{{contact.face}}">
        <span>{{contact.name}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
