<ion-view view-title="Collection" class="collection">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Collection</h1>
  </ion-header-bar>
  <ion-content>
    <div class="dynamic">
      <img src="img/mike.png" class="head">
      <p class="name">张冉</p>
      <p>When I was young, I’d listen to the radio. Waiting for my favorite songs. When they played I’d sing along, It made me smile. Those were such happy times. And not so long ago. How I wondered where they’d gone. </p>
      <div>
        <img src="img/ionic.png"><img src="img/me.jpg"><img src="img/max.png">
      </div>
    </div>
    <span class="delete">delete</span>
  </ion-content>
</ion-view>
