<ion-view view-title="Collection" class="collection">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Collection</h1>
  </ion-header-bar>
  <ion-content>
    <div class="placeholder">
      <p ng-click="goWorkCircle()">
        暂时还没有收藏，去添加一个吧...
      </p>
    </div>
    <div class="dynamic" ng-repeat="dynamic in dynamics" ng-show="dynamic.collected">
      <img ng-src="{{dynamic.face}}" class="head">
      <p class="name">{{dynamic.name}}</p>
      <p>{{dynamic.content}}</p>
      <div>
        <img ng-src="{{img}}" ng-repeat="img in dynamic.image"><img ng-src="{{img}}"><img ng-src="{{img}}">
      </div>
      <span class="delete" ng-click="delete(dynamic)">delete</span>
    </div>
  </ion-content>
</ion-view>
