<ion-view view-title="Password-setting" class="password-setting">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Password Setting</h1>
  </ion-header-bar>
  <div class="toast" ng-class="{true:'show', false:''}[showToast]" ng-bind="toastMessage">
  </div>
  <ion-content>
    <div class="password">
      <div>
        <label>旧密码</label><input type="password" ng-model="password.oldPassword">
      </div>
      <div>
        <label>新密码</label><input type="password" ng-model="password.newPassword">
      </div>
      <div>
        <label>确认密码</label><input type="password" ng-model="password.confirmPassword">
      </div>
    </div>
  </ion-content>
  <div class="tool">
    <p class="submit" ng-click="changePassword()">确定</p>
    <p class="cancel" ng-click="back()">取消</p>
  </div>
</ion-view>
