<ion-view view-title="Send-email" class="send-email">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Send Email</h1>
    <button class="button icon" ng-click="sendEmail()">
      Send
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="head">
      <div>
        <label>收件人</label><input type="text" ng-model="data.recipient">
      </div>
      <div>
        <label>抄送</label><input type="text" ng-model="data.cc">
      </div>
      <div>
        <label>密送</label><input type="text" ng-model="data.bcc">
      </div>
      <div>
        <label>发件人</label><input type="text" value="Mengyuan@hand-china.com">
      </div>
      <div>
        <label>主题</label><input type="text" ng-model="data.subject">
      </div>
      <div>
        <label>内容</label><textarea ng-model="data.body"></textarea>
      </div>
    </div>

  </ion-content>
</ion-view>
