<ion-view view-title="Send-message" class="send-message">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Send Message</h1>
    <button class="button icon" ng-click="">
      Send
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="head">
      <div>
        <label>收件人</label><input type="text" value="{{name}}">
      </div>
      <div>
        <label>内容</label><textarea></textarea>
      </div>
    </div>

  </ion-content>
</ion-view>
