<ion-view view-title="Chat-setting" class="chat-setting">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Chat Setting</h1>
  </ion-header-bar>
  <ion-content class="padding" >
    <div class="member">
      <div ng-repeat="people in chat.people" ng-if="!(people.name == '袁梦' && chat.people.length <= 2)">
        <img src="{{people.face}}">
        <span>{{people.name}}</span>
      </div>
      <div>
        <i class="icon ion-ios-plus-empty"></i>
        <span>{{addOrBuild}}</span>
      </div>
    </div>
    <div class="common-setting">
      <ion-toggle  ng-model="settings.top">
        置顶聊天
      </ion-toggle>
      <ion-toggle  ng-model="settings.notDisturb">
        消息免打扰
      </ion-toggle>
      <p>
        清空聊天记录<i class="icon ion-ios-arrow-right"></i>
      </p>
    </div>
    <div class="group-setting" ng-show="chat.people.length > 2">
      <p>
        群名称<i class="icon ion-ios-arrow-right"></i> <span>{{chat.chatName}}</span>
      </p>
      <ion-toggle  ng-model="settings.showNickname">
        显示群成员昵称
      </ion-toggle>
    </div>
  </ion-content>
  <div class="tool" ng-click="delete()"  ng-show="chat.people.length > 2">
    <p>删除并退出群聊</p>
  </div>
</ion-view>
