<ion-view view-title="Dashboard" class="work-circle" ng-controller="WorkCircleCtrl">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()" ng-show="showBack">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Work Circle</h1>
  </ion-header-bar>
  <style>
    .work-circle .background .icon{
      position: absolute;
      bottom:0;
      right: 3vw;
      color: #fff;
      font-size:1.5em;
      padding:0 5px;
    }
  </style>
  <div class="icon ion-ios-heart like-animation"  ng-class="{true:'run-animation',false:''}[animationRun]"></div>
  <img class="big-image" ng-src="{{bigImage}}" ng-class="{'none':showBigImage[0],'show':showBigImage[1],'hidden':showBigImage[2]}" ng-click="closeImage()">
  <ion-content class="padding" on-drag-down="onDragDown()" on-release="onRelease()"  overflow-scroll="true">
    <div class="background">
      <div class="background-img">
      </div>
      <img id="me" ng-src="{{me.face}}">
      <i ng-click="goChangeBackground()" class="icon ion-ios-more change-background"></i>
    </div>
    <div class="dynamic-container">
      <div class="dynamic" ng-repeat="dynamic in dynamics">
        <img ng-src="{{dynamic.face}}" class="head">
        <p class="name">{{dynamic.name}}</p>
        <p>{{dynamic.content}}</p>
        <div>
          <img ng-src="{{img}}" ng-click="openImage(img)" ng-repeat="img in dynamic.image"><img ng-src="{{img}}"><img ng-src="{{img}}">
        </div>
        <div>
          <span>1小时前</span><i ng-click="collect(dynamic)" class="icon" ng-class="{true:'ion-ios-book',false:'ion-ios-book-outline'}[dynamic.collected]"></i><i ng-click="edit(dynamic)" class="icon " ng-class="{true:'ion-ios-compose',false:'ion-ios-compose-outline'}[dynamic.edit]"></i><i ng-click="like(dynamic)" class="icon " ng-class="{true:'ion-ios-heart',false:'ion-ios-heart-outline'}[dynamic.like]"></i>
        </div>
        <div class="comment" ng-show="dynamic.edit">
          <p ng-repeat="comment in dynamic.comment"><span>{{comment.people}}：</span>{{comment.content}}</p>
          <input type="text" placeholder="评论" ng-model="comment.comment" ng-change="sendReady()"><button ng-class="{true:'send-ready', false:''}[sendButtun]" ng-click="send(dynamic)">Send</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
