<ion-view view-title="Dashboard" class="work-circle" ng-controller="WorkCircleCtrl">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Work Circle</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-camera-outline right"></i>
    </button>
  </ion-header-bar>
  <ion-content class="padding" on-drag-down="onDragDown()" on-release="onRelease()" overflow-scroll="true">
    <div class="background">
      <div class="background-img">
      </div>
      <img id="me" src="img/me.jpg">
    </div>
    <div class="dynamic-container">
      <div class="dynamic" ng-repeat="dynamic in dynamics">
        <img ng-src="{{dynamic.face}}" class="head">
        <p class="name">{{dynamic.name}}</p>
        <p>{{dynamic.content}}</p>
        <div>
          <img ng-src="{{img}}" ng-repeat="img in dynamic.image"><img ng-src="{{img}}"><img ng-src="{{img}}">
        </div>
        <div>
          <span>1小时前</span><i ng-click="collect(dynamic)" class="icon" ng-class="{true:'ion-ios-book',false:'ion-ios-book-outline'}[dynamic.collected]"></i><i ng-click="edit(dynamic)" class="icon " ng-class="{true:'ion-ios-compose',false:'ion-ios-compose-outline'}[dynamic.edit]"></i><i ng-click="like(dynamic)" class="icon " ng-class="{true:'ion-ios-heart',false:'ion-ios-heart-outline'}[dynamic.like]"></i>
        </div>
        <div class="comment" ng-show="dynamic.edit">
          <p ng-repeat="comment in dynamic.comment"><span>{{comment.people}}：</span>{{comment.content}}</p>
          <input type="text" placeholder="评论" ng-model="comment.comment"><button ng-click="send(dynamic)">Send</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
