<ion-view view-title="New-custom" class="new-custom">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">New Custom</h1>
    <button class="button icon" ng-click="goNewContact()">
      Save
    </button>
  </ion-header-bar>
  <ion-content class="new">
    <div class="scan-card">
      <span class="before animated slideInLeft"></span><img src=""><span class="after animated slideInRight"></span>
    </div>
    <p class="scan"> 扫描名片</p>
    <p class="split">基本信息</p>
    <div class="info">
      <div>
        <label><i class="icon ion-ios-person-outline"></i></label><input type="text" value="阿里巴巴科技公司">
      </div>
      <div>
        <label>类型</label><input type="text">
      </div>
      <div>
        <label>阶段</label><input type="text" id="post">
      </div>
      <div class="icon">
        <label>销售</label><input type="text"><i class="icon ion-ios-search"></i>
      </div>
      <div>
        <label>网站</label><input type="text" value="www.tianmao.com">
      </div>
      <div>
        <label>行业</label><input type="text" value="--互联网--">
      </div>
      <div class="out-icon">
        <label>地址</label><input type="text" value="杭州市滨江区长河路99号"><i class="icon ion-ios-location-outline"></i>
      </div>
      <div>
        <label>年收入</label><input type="text" value="1000,000">
      </div>
      <div>
        <label>员工数</label><input type="text" value="10,000">
      </div>
      <div>
        <label>主要联系人</label><input type="text" value="马云">
      </div>
    </div>
    <p class="split">其他信息</p>
    <div class="info">
      <div>
        <label>备注</label><input type="text" value="大客户">
      </div>
    </div>
  </ion-content>
</ion-view>

