<ion-view view-title="Contact-Detail" class="contact-detail">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Contact Detail</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="head">
      <p ng-click="goCustomList()">1<br>客户</p><p ng-click="goNicheList()">2<br>商机</p><p ng-click="goActivityRecord()">2<br>活动</p>
    </div>
    <p class="split">基本信息</p>
    <div class="detail">
      <p class="row"><span class="col-28"><i class="icon ion-ios-bookmarks-outline"></i></span><span class="col-50">马云</span><i class="icon ion-android-close"></i><i class="icon ion-android-create"></i></p>
      <p class="row"><span class="col-28">客户</span><span>阿里巴巴科技公司</span></p>
      <p class="row"><span class="col-28">职务</span><span>采购经理</span></p>
      <p class="row"><span class="col-28">电话</span><span class="col-50">021-66735652</span><i class="icon ion-ios-chatbubble-outline"></i><i class="icon ion-ios-telephone-outline"></i></p>
      <p class="row"><span class="col-28">手机</span><span class="col-50">186122345678</span><i class="icon ion-ios-chatbubble-outline"></i><i class="icon ion-ios-telephone-outline"></i></p>
      <p class="row"><span class="col-28">地址</span><span class="col-50">杭州滨江区长河路99号</span><i class="icon ion-ios-location-outline right"></i></p>
      <p class="row"><span class="col-28">邮箱</span><span class="col-50">Yun.ma@alibaba.com</span><i class="icon ion-ios-email-outline right"></i></p>
      <p class="row"><span class="col-28">传真</span><span>11234555</span></p>
      <p class="row"><span class="col-28">首选联系方式</span><span>移动电话</span></p>
      <p class="row"><span class="col-28">出生日期</span><span>1995-01-02</span></p>
      <p class="row"><span class="col-28">销售</span><span>Andy</span></p>
      <p class="row"><span class="col-28">潜在客户来源</span><span>网站</span></p>

    </div>
    <p class="split">其他信息</p>
    <div class="detail">
      <p class="row"><span class="col-28">备注</span><span>空间时间少,需要提前预约</span></p>
    </div>
  </ion-content>
</ion-view>
