<ion-view view-title="Custom-list" class="custom-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Custom List</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="common">
      <p>
        <i class="icon ion-ios-briefcase-outline"></i>阿里巴巴科技公司 <i class="icon ion-ios-arrow-right right"></i><br>
      </p>
    </div>
    <div class="common">
      <p>
        <i class="icon ion-ios-briefcase-outline"></i>百度科技公司 <i class="icon ion-ios-arrow-right right"></i><br>
      </p>
    </div>
    <div class="common">
      <p>
        <i class="icon ion-ios-briefcase-outline"></i>腾讯科技有限公司 <i class="icon ion-ios-arrow-right right"></i><br>
      </p>
    </div>
  </ion-content>
</ion-view>
