<ion-view view-title="New-contact" class="new-contact">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">New Contact</h1>
    <button class="button icon" ng-click="">
      Save
    </button>
  </ion-header-bar>
  <ion-content class="new">
    <div class="scan-card">
      <span class="before animated slideInLeft"></span><img src=""><span class="after animated slideInRight"></span>
    </div>
    <p class="scan"> 扫描名片</p>
    <p class="split">基本信息</p>
    <div class="info">
      <div>
        <label><i class="icon ion-ios-person-outline"></i></label><input type="text" value="马云">
      </div>
      <div class="icon">
        <label>客户</label><input type="text" value="阿里巴巴科技公司"><i class="icon ion-ios-search"></i>
      </div>
      <div>
        <label>职务</label><input type="text" value="采购经理">
      </div>
      <div class="sex">
        <label>性别</label><input type="radio" checked="true" name="sex" value="0"><i class="icon ion-male"></i><input type="radio" name="sex" value="1"><i class="icon ion-female"></i>
      </div>
      <div>
        <label>电话</label><input type="text" value="021-66735652">
      </div>
      <div>
        <label>手机</label><input type="text" value="18612345678">
      </div>
      <div class="icon">
        <label>地址</label><input type="text" value="杭州市滨江区长河路99号"><i class="icon ion-ios-location-outline"></i>
      </div>
      <div>
        <label>邮箱</label><input type="text" value="Yun.ma@alibaba.com">
      </div>
      <div>
        <label>传真</label><input type="text" value="1123455">
      </div>
      <div>
        <label>首选联系方式</label><select name="contact"><option value="0" selected="selected">电话</option><option value="1">手机</option><option value="2">传真</option><option value="3">邮箱</option></select>
      </div>
      <div class="icon">
        <label>出生日期</label><input type="text" value="1988-10-01"><i class="icon ion-ios-calendar-outline"></i>
      </div>
      <div class="icon">
        <label>销售</label><input type="text" value="Andy"><i class="icon ion-ios-search"></i>
      </div>
      <div>
        <label>潜在客户来源</label><select name="custom"><option value="0" selected="selected">网络</option><option value="1">天上</option><option value="2">地下</option></select>
      </div>
    </div>
    <p class="split">基本信息</p>
    <div class="info">
      <div>
        <label>备注</label><input type="text" value="非常有钱的人">
      </div>
    </div>
  </ion-content>
</ion-view>

