<ion-view view-title="Niche-list" class="niche-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Niche List</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="common">
      <p>
        <i class="icon ion-ios-briefcase-outline"></i>北京园区建设项目 <i class="icon ion-ios-arrow-right right"></i><br>
        <span class="custom">客户</span><span>阿里巴巴科技公司</span>
      </p>
    </div>
    <div class="common">
      <p>
        <i class="icon ion-ios-briefcase-outline"></i>杭州园区建设项目 <i class="icon ion-ios-arrow-right right"></i><br>
        <span class="custom">客户</span><span>阿里巴巴科技公司</span>
      </p>
    </div>
    <div class="common">
      <p>
        <i class="icon ion-ios-briefcase-outline"></i>深圳园区建设项目 <i class="icon ion-ios-arrow-right right"></i><br>
        <span class="custom">客户</span><span>阿里巴巴科技公司</span>
      </p>
    </div>
  </ion-content>
</ion-view>
