<ion-view view-title="Goal-achievement" class="goal-achievement dashboard-specific">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Goal Achievement</h1>
  </ion-header-bar>
  <ion-content>
    <div class="container">
      <div class="chartHead">
        <p><i class="icon ion-ios-calendar-outline"></i>3个月内未关单的商机</p>
        <span>总件数：8</span>
      </div>
      <div class="chart">

      </div>
    </div>
  </ion-content>
</ion-view>
