<ion-view view-title="New-expense" class="new-expense">
  <ion-header-bar align-title="center" class="head-bar" >
    <button ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">New Expense</h1>
    <button class="button icon" ng-click="goNewExpenseDetail()">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <p class="split">报销单头信息 -  ID0000005</p>
    <div class="detail">
      <div>
        <label>申请人工号</label><span>1104</span>
      </div>
      <div>
        <label>姓名</label><span>林云</span>
      </div>
      <div>
        <label>所在部门</label><span>中国-华东区-销售运营部</span>
      </div>
      <div>
        <label>Email</label><span>Andy.Lin@sonepar.com</span>
      </div>
      <div>
        <label>申请日期</label><span>2015-11-01</span>
      </div>
      <div>
        <label>币种</label><span>CNY-人民币</span>
      </div>
      <div>
        <label>金额</label><span>0</span>
      </div>
      <div>
        <label>活动</label><input type="text" value="拜访阿里巴巴公司"><i class="icon ion-ios-search-outline"></i>
      </div>
      <div>
        <label>客户</label><input type="text" value="阿里巴巴科技公司"><i class="icon ion-ios-search-outline"></i>
      </div>
      <div>
        <label>商机</label><input type="text" value="新产品展示"><i class="icon ion-ios-search-outline"></i>
      </div>
      <div style="height: 5em;">
        <label>主题</label><textarea>阿里巴巴新园区项目机会销售费用</textarea>
      </div>
    </div>
  </ion-content>
</ion-view>
