<ion-view view-title="Activity-record" class="activity-record">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Activity Record</h1>
    <button class="button icon" ng-click="goNewActivity()">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="sort-and-sift">
      <div class="function">
        <button ng-click="show(0)"><i class="icon ion-ios-settings"></i>排序</button>
      </div>
      <div class="function no-border">
        <button ng-click="show(1)"><i class="icon ion-ios-infinite-outline"></i>筛选</button>
      </div>
      <div ng-show="showTool[0]"  ng-click="close()">
        <p>创建时间</p>
      </div>
      <div ng-show="showTool[1]">
        <div>
          <label>客户类型</label><input type="checkbox">潜在客户<input type="checkbox">新客户
        </div>
        <div>
          <label>客户阶段</label><input type="checkbox">潜在客户<input type="checkbox">新客户
        </div>
      </div>
    </div>
    <div class="activity-info">
      <p class="name"><i class="icon ion-ios-cart-outline"></i>新产品展示 <i class="icon ion-ios-arrow-right right"></i></p>
      <span>2015-11-11 09:00 客户 阿里巴巴科技公司 已完成</span>
      <p class="record">有意向客户共20个,需要后续follow</p>
      <p class="address">
        <img src="img/map.png"> 浙江省杭州市滨江区长河路99号阿里巴巴科技公司
      </p>
      <i class="icon ion-ios-chatbubble-outline">2</i>
    </div>
    <div class="activity-info">
      <p class="name"><i class="icon ion-ios-cart-outline"></i>电话拜访 <i class="icon ion-ios-arrow-right right"></i></p>
      <span>2015-11-11 09:00 客户 阿里巴巴科技公司 进行中</span>
      <i class="icon ion-ios-chatbubble-outline">0</i>
    </div>
    <div class="activity-info">
      <p class="name"><i class="icon ion-ios-cart-outline"></i>重庆用户大会 <i class="icon ion-ios-arrow-right right"></i></p>
      <span>2015-11-11 09:00 客户 阿里巴巴科技公司 计划</span>
      <p class="address">
        <img src="img/map.png"> 浙江省杭州市滨江区长河路99号阿里巴巴科技公司
      </p>
      <i class="icon ion-ios-chatbubble-outline">1</i>
    </div>

  </ion-content>
</ion-view>
