<ion-view view-title="Dashboard" class="dashboard">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Dashboard</h1>
  </ion-header-bar>
  <ion-content>
    <div class="common">
      <a href="#/tab/crm/dashboard/sale-funnel" ><i class="icon ion-ios-albums-outline"></i>销售漏斗 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
    <div class="common">
      <a href="#/tab/crm/dashboard/performance-ranking"><i class="icon ion-ios-pulse"></i>销售业绩排行 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
    <div class="common">
      <a href="#/tab/crm/dashboard/goal-achievement"><i class="icon ion-ios-checkmark-outline"></i>销售目标达成 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
    <div class="common">
      <a href="#/tab/crm/dashboard/top-niche"><i class="icon ion-ios-star-outline"></i>Top 10 商机 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
    <div class="common">
      <a href="#/tab/crm/dashboard/top-custom"><i class="icon ion-ios-paperplane-outline"></i>Top 10 客户 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
    <div class="common">
      <a href="#/tab/crm/dashboard/key-niche"><i class="icon ion-ios-paw-outline"></i>重点商机 <i class="icon ion-ios-arrow-right right"></i></a>
    </div>
  </ion-content>
</ion-view>
