<ion-view view-title="Product-list" class="product-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Product List</h1>
  </ion-header-bar>
  <ion-content>
    <div class="sort-and-sift">
      <div class="function">
        <button ng-click="show(0)"><i class="icon ion-ios-settings"></i>排序</button>
      </div>
      <div class="function no-border">
        <button ng-click="show(1)"><i class="icon ion-ios-infinite-outline"></i>筛选</button>
      </div>
      <div ng-show="showTool[0]" class="popup" ng-click="close()">
        <p>创建时间</p>
      </div>
      <div ng-show="showTool[1]" class="popup">
        <div>
          <label>客户类型</label><input type="checkbox">潜在客户<input type="checkbox">新客户
        </div>
        <div>
          <label>客户阶段</label><input type="checkbox">潜在客户<input type="checkbox">新客户
        </div>
      </div>
    </div>
    <div ng-repeat="product in products" class="attachment" ng-click="goProductDetail(product.name)">
      <img ng-src="{{product.image}}">
      <p>{{product.name}}</p><br>
      <span>单位：{{product.unit}}</span><br>
      <span>单价：{{product.price}}</span>
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
