<ion-view view-title="Scan" class="scan">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Scan</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <span class="before animated slideInLeft">
      </span>
      <span>扫 描 名 片</span>
      <span class="after animated slideInRight">
      </span>
    </div>
    <div class="bill">
      <span class="before animated slideInLeft">
      </span>
      <span>扫 描  单 据</span>
      <span class="after animated slideInRight">
      </span>
    </div>
  </ion-content>
</ion-view>
