<ion-view view-title="Attachment-list" class="attachment-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Attachment List</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div ng-repeat="attachment in attachments" class="attachment" ng-click="goAttachmentDetail(attachment.name)">
      <img src="{{attachment.image}}">
      <p>{{attachment.name}}</p><br>
      <span>{{attachment.explanation}}</span><br>
      <span>{{attachment.sale}}</span>
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
