<ion-view view-title="Attachment-list" class="attachment-list">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Attachment List</h1>
    <button class="button icon" ng-click="">
      <i class="icon ion-ios-plus-empty right"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="attachment" ng-click="goAttachmentDetail()">
      <img src="img/attachment.png">
      <p>新产品</p><br>
      <span>2015-11-11 890KB jpg</span><br>
      <span>Andy</span>
      <i class="icon ion-ios-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
