<ion-view view-title="Attachment-detail" class="attachment-detail">
  <ion-header-bar align-title="center" class="head-bar" >
    <button class="button icon" ng-click="back()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">{{attachment.name}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="info">
      <h5>简要说明</h5>
      <p>{{attachment.explanation}}</p>
      <img ng-src="{{attachment.image}}">
    </div>
  </ion-content>
  <div class="tool">
    <button class="left" ng-click="doExamine(false)"><i class="icon ion-ios-information-outline"></i></button><button class="right"><i class="icon ion-ios-download-outline"></i></button>
  </div>
</ion-view>
