/* Empty. Add your own CSS if you like */

/* 常用样式 */
ion-content.scroll-content{
  background-color: #f0f0f0;
  padding:0;
}
ion-content div.common{
  background-color: white;
  margin-top: 10px;
}
ion-content div.common p{
  position: relative;
  display: block;
  text-decoration: none;
  width: 90%;
  margin:0 auto;
  padding-left:2.5em;
  line-height:3.5em;
  vertical-align: middle;
  border-bottom: 1px solid #f0f0f0;
}
ion-content div.common p:last-child{
  border-bottom:0;
}
ion-content div.common i{
  position: absolute;
  font-size: 2.5em;
  left: -0.3em;
  color: rgb(7,156,246);
}
ion-content div.common i.right{
  position: static;
  float: right;
  color: black;
}
  /* work页面和team页面分隔p样式 */
.work ion-content div div, .team ion-content div div, .search-result ion-content div div{
  margin-top:0;
}
.work ion-content p.split, .team ion-content p.split, .search-result ion-content p.split{
  margin:0;
  font-weight: bolder;
  margin-top:10px;
}
  /* work页面和team页面分隔p样式end */
  /* 消息数量span样式 */
.home .has-msg-span span, .team span{
  float:right;
  display: inline-block;
  width:1.5em;
  height: 1.5em;
  line-height: 1.5em;
  background: red;
  color: #fff;
  border-radius: 1em;
  text-align: center;
  margin-top: 1.15em;
}
  /* 消息数量span样式end */
  /* tab栏样式 */
div.tab-nav.tabs{
  background-color: rgb(7,156,246);
}
div.tab-nav.tabs .tab-item{
  opacity: 1;
}
div.tab-nav.tabs a i{
  color: white;
}
div.tab-nav.tabs a span{
  color: white;
}
  /* tab栏样式end */

  /* head-bar样式 */
ion-header-bar.head-bar{
  background-color: rgb(7,156,246);
}
ion-header-bar.head-bar .title{
  color: #fff;
}
ion-header-bar.head-bar {
  background-size:0 ;
}
ion-header-bar.head-bar button{
  background: transparent;
  color: #fff;
  border:0;
}
ion-header-bar.head-bar button.activated{
  border:0;
  font-weight: bold;
  background: transparent;
  color: #fff;
}
ion-header-bar.head-bar button:hover{
  background: transparent;
  color: #fff;
}
ion-header-bar.head-bar button.icon i.icon:before{
  font-size: 2em;
}
  /* head-bar样式end */

  /* sort和sift工具样式 */
.sort-and-sift{
  width:100%;
  background-color: white;
  margin-bottom: 20px;
}
.sort-and-sift .function{
  display: inline-block;
  position: relative;
  width: 49.3%;
  text-align: center;
  border-right:1px solid #a0a0a0;
  background-color: white;
  border-radius: 0;
}
.sort-and-sift .function.no-border{
  border:0;
}
.sort-and-sift .function button{
  position: relative;
  background-color: white;
  height: 3em;
  border:0;
  margin-bottom: 5px;
  padding:0 20px;
}

.sort-and-sift .function button i{
  position: absolute;
  font-size: 1.2em;
  left:0;
}
.sort-and-sift div p{
  border-top:1px solid #a0a0a0;
  border-bottom:1px solid #a0a0a0;
  padding-left:5%;
  padding-top:5px;
  padding-bottom:5px;
  margin:0;
}

.sort-and-sift div div{
  border-top:1px solid #a0a0a0;
  border-bottom:1px solid #a0a0a0;
  padding-left:5%;
  padding-top:5px;
  padding-bottom:5px;
  margin:0;
}
.sort-and-sift div div:last-child{
  border-top:0;
}
.sort-and-sift div div input{
  margin-left:30px;
}
.sort-and-sift .popup{
  position: absolute;
  top: 47px;
  width:100%;
  background-color: white;
  z-index: 10;
}
  /* sort和sift工具样式end */

  /* 新建界面样式 */
ion-content.new.scroll-content{
  background-color: white;
}
.new .split{
  width:100%;
  padding:5px 0 5px 5%;
  margin:0;
  font-weight: bold;
  background-color: #f0f0f0;
}
.new .scan-card{
  width: 100%;
  padding: 20px;
  text-align: center;
  padding-bottom: 0;
  margin:0;
}
.new span{
  font-size: 2em;
  position: relative;
  color: #808080;
}
.new .scan-card span{
  display: inline-block;
  width: 30px;
}
.new .scan-card span.before:before {
  content: '└';
  position: absolute;
  right:-5px;
  top:-5px;
}
.new .scan-card span.before:after {
  content: '┌';
  position: absolute;
  right:-5px;
  top:-57px;
}
.new .scan-card span.after:before {
  content: '┐';
  position: absolute;
  right:7px;
  top:-57px;
}
.new .scan-card span.after:after {
  content: '┘';
  position: absolute;
  right:7px;
  top:-5px;
}
.new .scan-card img{
  width: 55px;
  height: 40px;
  border:0;
}
.new p.scan{
  width: 25%;
  text-align: center;
  margin:0 auto;
  white-space: pre;
  font-size: 0.8em;
  line-height: 2em;
  height: 2em;
  vertical-align: middle;
}
.new .info div{
  border-bottom:1px solid #f0f0f0;
  min-height: 40px;
  padding:1px 10px;
  line-height: 40px;
  position: relative;
}
.new .info label{
  display: inline-block;
  font-size: 0.9em;
  width:26%;
  margin-right:2%;
}
.new .info label i{
  font-size: 2em;
  line-height: 0.5em;
  vertical-align: middle;
  margin-left: 5px;
}
.new .info input[type="text"]{
  display: inline-block;
  border:1px solid #a0a0a0;
  height:25px;
  vertical-align: baseline;
  padding-right:20px;
  font-size: 0.9em;
  width: 55%;
}
.new .info input[type="radio"]{
  font-size: 1.2em;
}
.new .info .out-icon i{
  margin-left: 2%;
  font-size: 1.5em;
  color:rgb(7,156, 246);
}
.new .info .icon i{
  position: absolute;
  top:10px;
  left:76%;
  font-size: 1.3em;
  line-height: 0.5em;
  color:rgb(7,156,246);
}
.new .info select{
  display: inline-block;
  height:25px;
  vertical-align: baseline;
  font-size: 0.9em;
  width: 55%;
}
.new .info .sex i{
  margin-left: 5px;
  margin-right:15px;
  font-size: 1.2em;
}
/* 新建界面样式end */

/* 常用样式end */



/* Home页面样式 */
  /* 搜索区域样式 */
.home .search {
  display: block;
  margin-top: 44px;
  width:100%;
  background-color: rgb(7,156,246);
  padding:5px 20px;
}
.home .search input{
  display: inline-block;
  width:85%;
}
.home .search i{
  float: right;
  color:white;
  font-size: 2.5em;
}
  /* 搜索区域样式end */

  /* home页面content样式 */
.home .padding{
  margin-top:44px;
}
    /* home页面日历样式 */
.home .padding .date{
  background-color: white;
  width: 100%;
  padding:0.5em 0;
  margin-top: 10px;
  margin-bottom:10px;
}
.home ion-content .date table{
  width: 100%;
  margin:0 auto;
  text-align: center;
}
.home ion-content .date table thead{
  color:#a0a0a0;
}
.home .date .lastMonth {
  color: #a0a0a0;
}
.home .date table th, .home .date table td{
  position: relative;
  font-size:0.8em;
  display: inline-block;
  width: 2.5em;
  margin:0 2%;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
}
.home .date table td.selected{
  background-color: rgb(241,216,91);
  border-radius: 40px;
}
.home .date table td.has-activity:after{
  content: '';
  position: absolute;
  bottom:-2px;
  left:1.1em;
  display: block;
  width: 0.3em;
  height: 0.3em;
  background-color: red;
  z-index: 10;
  border-radius: 0.2em;
}
    /* home页面日历样式end */
    /* home页面活动样式 */
.home .activity{
  background-color: white;
  width: 100%;
}
.home .activity a{
  padding:0;
  min-height: 48px;
  line-height: 48px;
  vertical-align: middle;
}
.home .activity p{
  position: relative;
  width: 90%;
  margin:0 auto;
  border-bottom: 1px solid #f0f0f0;
  line-height: 3.5em;
  padding-left: 2.5em;
  vertical-align: middle;
}
.home .activity p i{
  position: absolute;
  font-size: 2.5em;
  left: -0.3em;
  color: rgb(7,156,246);
}
.home .activity ion-item{
  min-height: 0;
  margin:0 auto;
  height:49px;
  border:0;
  border-bottom: 1px solid #f0f0f0;
  width: 90%;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.home .activity ion-item:last-child{
  border:0;
}
.home .activity ion-item .time{
  color: rgb(7,100,200);
  margin-right: 70px;
}
.home .activity ion-item i{
  font-size: 1.3em;
  float: right;
  color: rgb(200,180,60);
}
    /* home页面活动样式end */
    /* home页面报销单和消息样式 */
.home .has-msg-span span{
  margin-right: 10px;
}
    /* home页面报销单和消息样式end */
  /* home页面content样式end */
/* home页面样式end */

/*CRM页面样式*/

/* CRM页面样式end */

/* Work页面样式 */

/* Work页面样式end */

/*team页面样式 */
.team span{
  margin-right: 67%;
}
/* team页面样式end */


/* me界面样式 */
.me .info {
  background-color: white;
  padding:10px 0;
}
.me .info>div {
  width: 90%;
  margin:0 auto;
}
.me .info img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right:10px;
}
.me .info>div div{
  display: inline-block;
  min-height: 50px;
  margin-top:20px;
  vertical-align: top;
  margin-right:10px;
}
.me .info p {
  font-size: 1.2em;
  margin:0;
}
.me .info span, .me .info div label {
  font-size: 0.9em;
  color:#505050;
}
.me .info i{
  position: static;
  float: right;
  color: black;
  font-size: 2.5em;
  margin-top:0.5em;
}
/* me界面样式end */

/* expense-claim界面样式 */

.expense-claim .is-examine{
  width:100%;
  background-color: white;
}
.expense-claim .is-examine div{
  display: inline-block;
  width: 49%;
  text-align: center;
  border-right:1px solid #a0a0a0;
}
.expense-claim .is-examine div:last-child{
  border:0;
}
.expense-claim .is-examine div button{
  background-color: white;
  height: 3em;
  border:0;
  margin-bottom: 5px;
  padding:0 20px;
}
.expense-claim .is-examine div button.selected{
  margin-bottom: 3px;
  border-bottom: 2px solid rgb(7,156,246);
}
.expense-claim .list{
  width: 100%;
}
.expense-claim .list p{
  margin:0;
  padding:5px 0;
  padding-left:5%;
  width: 100%;
  font-size: 1.1em;
  font-weight: bolder;
  background-color: #f0f0f0;
  border-top: 1px solid rgb(211,211,211);
  border-bottom: 1px solid rgb(211,211,211);
}
.expense-claim .list .item{
  padding: 10px;
}
.expense-claim .list .item.activated{
  borde: 0;
  background-color: white;
}
.expense-claim .list .item div{
  display: block;
  background-color: white;
  width: 100%;
  padding:10px 5%;
  color: #505050;
  font-size: 0.5em;
}
.expense-claim .list i{
  position: relative;
  float: right;
  color: black;
  font-size: 4.4em;
  right:-0.2em;
  top:0.3em;
}
.expense-claim span.date, .expense-claim span.applicant, .expense-claim span.theme{
  display: inline-block;
}
.expense-claim span.date{
  width:44%;
}
.expense-claim span.applicant{
  width:30%;
}
.expense-claim span.theme{
  width:74%;
}
.expense-claim .list .item:first-child{
  border-top:0;
}
/* expense-claim界面样式 end*/

/* expense-clain-detail界面样式 */
.expense-claim-detail p {
  margin:5px auto;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #f0f0f0;
}
.expense-claim-detail .head-info{
  background-color: white;
  border: 0;
}
.expense-claim-detail .head-info div{
  border-bottom:1px solid #f0f0f0;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
}
.expense-claim-detail .head-info div i{
  font-size: 2em;
  color: rgb(7,156,246);
  margin-right:10px;
  margin-left:1em;
}
.expense-claim-detail .head-info div.suggestion input{
  display: inline-block;
  width: 70%;
  height: 1.8em;
  line-height: 1.8em;
  border:1px black solid;
  margin-top: 5px;
  vertical-align: top;
}
.expense-claim-detail .head-info div:last-child{
  border-bottom: 0;
}
.expense-claim-detail .head-info div label{
  margin-left:20px;
}
.expense-claim-detail .head-info div span{
  float: right;
  margin-right: 40px;
}
.expense-claim-detail .detail .table-head{
  width: 100%;
  background-color: white;
  padding:10px 5px;
  height: 2.5em;
}
.expense-claim-detail .detail .table-head p{
  display: inline-block;
  width: 14%;
  text-align: center;
}
.expense-claim-detail .detail .table-head p.explanation{
  width: 25%;
  margin-left: 10px;
}
.expense-claim-detail .detail .item{
  padding:10px 5px 5px 5px;
  min-height: 2.5em;
}
.expense-claim-detail .detail p {
  background-color: white;
  display: inline-block;
  height:2.5em;
  line-height: 1em;
  font-size: 0.5em;
  vertical-align: middle;
  margin:0;
  width: 14%;
  text-align: center;
  color: black;
  font-weight: lighter;
}
.expense-claim-detail .detail .explanation {
  margin-left: 3px;
  width: 25%;
  white-space:normal;
  text-align: left;
}
.expense-claim-detail .examine{
  width: 90%;
  margin:0 auto;
  text-align: center;
}
.expense-claim-detail .examine button{
  height: 44px;
  margin:5px 10px;
  width: 40%;
  background-color: rgb(7,156,246);
  color: white;
  border:0;
  border-radius: 15px;
  font-size: 1.2em;
  white-space: pre;
}
.expense-claim-detail .examine button.activated{
  font-weight: bolder;
}
/* expense-clain-detail界面样式end */

/* dashboard-aggregate界面样式 */
.dashboard-aggregate ion-content.scroll-content{
  background-color: white;
}
.dashboard-aggregate .echarts-trend div{
  margin:0 auto;
}
.dashboard-aggregate .times{
  width: 90%;
  margin:10px auto;
  text-align: center;
}
.dashboard-aggregate .times button{
  background-color: white;
  width:20%;
  margin:0;
  border:1px solid rgb(211,211,211);
  height:2.5em;
}
.dashboard-aggregate .times .month{
  border-top-left-radius:9px;
  border-bottom-left-radius:9px;
}
.dashboard-aggregate .times .year {
  border-top-right-radius:9px;
  border-bottom-right-radius:9px;
}
.dashboard-aggregate .times .season{
  border-left:0;
  border-right: 0;
}
.dashboard-aggregate .times button.selected{
  background-color: rgb(211,211,211);
}
.dashboard-aggregate .list {
  width: 90%;
  margin:20px auto;
  padding:10px 0;
  border-bottom:1px solid rgb(211,211,211);
}
.dashboard-aggregate .list div{
  width: 80%;
  margin:0 auto;
}
.dashboard-aggregate .echarts-trend, .dashboard-aggregate .echarts-funnel{
  border-bottom:1px solid rgb(211,211,211);
  width: 90%;
  height:300px;
  margin:0 auto;
}
.dashboard-aggregate .echarts-funnel{
  height:250px;
}
/* dashboard-aggregate界面样式end */

/* work-circle界面样式 */
.work-circle ion-content.scroll-content{
  background-color: white;
}
.work-circle .background-img{
  position: absolute;
  width: 100%;
  height:783px;
  overflow: visible;
  margin-top:-550px;
  background-image: url('../img/background.jpg');
}
.work-circle .background-img span{
  white-space:pre;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right:100px;
}
.work-circle .background-img img{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -10px;
  right:10px;
  box-shadow: 2px 2px 2px #808080;
}
.work-circle .dynamic{
  position: relative;
  width: 90%;
  margin:0 auto;
  padding-top:290px;
  padding-left:65px;
}
.work-circle .dynamic .head{
  position: absolute;
  width: 50px;
  left:0;
  height: 50px;
  box-shadow: 2px 2px 2px #808080;
  display: inline-block;
}
.work-circle .dynamic .name{
  margin:0;
  font-size: 1.2em;
}
.work-circle .dynamic div img{
  width:60px;
  height:60px;
  margin-right: 5%;
}
.work-circle .dynamic div span{
  font-size: 0.8em;
  color: #808080;
}
.work-circle .dynamic div i{
  color: rgb(7,156,246);
  float: right;
  font-size: 1.6em;
  margin-right: 8px;
}
/* work-circle界面样式end */

/* activity-detail界面样式 */
.activity-detail .head{
  background-color: white;
  width:100%;
  margin:0;
  padding:0;
}
.activity-detail .head p{
  text-decoration: none;
  text-align: center;
  color: black;
  margin:0;
}
.activity-detail .split{
  width:100%;
  padding:5px 0 5px 5%;
  margin:0;
  font-weight: bold;
}
.activity-detail .detail{
  background-color: white;
  margin-bottom:20px;
}
.activity-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.activity-detail .detail span{
  margin-right: 2%;
}
.activity-detail .detail span.col-25{
  margin-right: 0;
}
.activity-detail .detail p i{
  font-size: 1.8em;
  margin-left:0.5em;
  color: rgb(7,156,246);
}
.activity-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.activity-detail .detail p i.right{
  margin-left:1.8em;
  color: #000;
}
.activity-detail .detail p i.ion-android-close{
  color: #000;
}
.activity-detail .tool{
  width:100%;
  background-color: white;
}
.activity-detail .tool button{
  font-size: 2.5em;
  width:24%;
  border:0;
  background-color: transparent;
  color: rgb(7,156,246);
}
/* activity-detail界面样式end */

/* message界面样式以及Search-Result界面消息样式 */
.message .item, .search-result .message{
  position: relative;
  padding: 0;
}
.message .item img, .search-result .message img{
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 10px;
  left:15px;
  border-radius: 25px;
}
.message .item span.messageNum{
  position: absolute;
  top: 10px;
  left:50px;
  display: block;
  width: 20px;
  height:20px;
  background-color: red;
  border-radius:10px;
  color: #fff;
  text-align: center;
}
.message .item p, .search-result .message p{
  display: inline-block;
  margin-left: 80px;
}
.message .item p.name, .message .item p.time,
.search-result .message p.name, .search-result .message p.time{
  height:3em;
  vertical-align: bottom;
}
.message .item p.name,.search-result .message p.name{
  width: 25%;
  line-height: 3em;
}
.message .item p.time, .search-result .message p.time{
  margin-left: 25%;
  font-size: 0.5em;
}
.message .item p.text, .search-result .message p.text{
  text-overflow: ellipsis;
  max-width:62%;
}
.message .item i{
  position: absolute;
  right: 10px;
  bottom:15px;
  font-size: 2em;
}
/* message界面样式end */

/* message-detail样式 */
.message-detail .item{
  width: 70%;
  background-color: transparent;
  border:0;
  margin-left:10px;
  margin-top:10px;
  padding:10px;
}
.message-detail .receive img{
  display: inline-block;
  width:50px;
  height: 50px;
  border-radius: 10px;
}
.message-detail .receive span{
  position: absolute;
  display: inline-block;
  top:15px;
  margin-left: 25px;
  background-color: white;
  line-height: 20px;
  padding:10px 10px;
  vertical-align: baseline;
  border-radius: 13px;
  white-space: normal;
}
.message-detail .receive span:before{
  position: absolute;
  left:-20px;
  content: '';
  border-right: 20px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  font-size: 0;
  line-height: 0;
  z-index: 999;
}
.message-detail form *{
  padding:0;
  margin:0;
  color: rgb(7,156,246);
}
.message-detail form{
  background-color: white;
  position: absolute;
  flex-flow:row;
  width: 100%;
  bottom:0;
  height: 3em;
  margin-bottom:50px;
  padding-top:2px;
  border-top:1px solid #cccccc;
}
.message-detail form button {
  display: inline-block;
  width: 10%;
  font-size:1.5em;
  height: 2em;
  padding:0;
  color: #444;
  vertical-align: middle;
  border:0;
  background-color: white;
}
.message-detail form button i{
  display: inline-block;
  vertical-align: bottom;
}
.message-detail form .msg{
  display: inline-block;
  width: 66%;
  border:0;
  border-bottom:2px solid #ccc;
  padding:1px 0;
  vertical-align: middle;
  color: #000;
}
.message-detail form .msg:focus{
  border-color: #387ef5;
}
/* message-detail样式end */

/* sale-funnel界面样式 */
.sale-funnel .chart{
  width:100%;
  height:600px;
}
/* sale-funnel界面样式end */

/* dashboard各柱状图界样式 */
.dashboard-specific .container{
  width:92%;
  margin:0 auto;
  margin-top:10px;
  background-color: white;
  border-radius: 10px;
}
.dashboard-specific .chartHead{
  font-size:0.9em;
  width:95%;
  margin:0 auto;
  padding-top: 5px;
  border-bottom: 1px solid #a0a0a0;
  padding-left: 5px;
  padding-bottom:10px;
}
.dashboard-specific .chartHead p{
  margin:0;
}
.dashboard-specific .chartHead i{
  font-size:1.5em;
  color: #808080;
  margin-right: 5px;
}
.dashboard-specific .chartHead span{
  margin-right:10%;
}
.dashboard-specific .chart{
  width:100%;
  height: 500px;
}
.goal-achievement .chart, .top-custom .chart{
  height:350px;
}
.key-niche .chart{
  height: 220px;
}
/* dashboard各柱状图界样式 */

/* search-result界面样式 */
.search-result .common p.activity{
  height: 6em;
}
.search-result .common p span{
  position: absolute;
  top:2.5em;
  left:-5px;
  font-size: 0.8em;
}
.search-result .common p .comment{
  font-size: 1em;
  position: absolute;
  left:90%;
  color: #000;
}
.search-result .common p .comment:before{
  color: rgb(7,156,246);
  font-size:25px;
}
.search-result .message{
  background-color: white;
  border-bottom:2px solid #f0f0f0;
}
.search-result .message p.name, .search-result .message p.time{
  height:2.5em;
}
.search-result .message i{
  position: absolute;
  right: 18px;
  bottom:25px;
  font-size: 2.2em;
}
.search-result .message .transmit{
  position: absolute;
  right:12px;
  bottom: 5px;
  font-size: 0.5em;
}
.search-result .message .transmit:before{
  color:rgb(7,156,246);
  font-size: 3em;
}
/* search-result界面样式end */

/*!* contacts界面样式 *!*/
.contacts .common i.ion-ios-person-outline:before{
  border:1px solid rgb(7,156,246);
  height: 0.8em;
  width:0.8em;
  text-align: center;
  border-radius:30px;
  overflow: hidden;
  line-height: 0.8em;
}
/* contacts界面样式end */

/* contact-detail界面样式 */
.contact-detail .head{
  width:100%;
  background-color: white;
}
.contact-detail .head p{
  display: inline-block;
  width:33%;
  text-align: center;
  margin:0;
}
.contact-detail .split{
  width:100%;
  padding:5px 0 5px 5%;
  margin:0;
  font-weight: bold;
}
.contact-detail .detail{
  background-color: white;
  margin:0;
}
.contact-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.contact-detail .detail span.col-28{
  display: inline-block;
  width:28%;
  margin-right: 10px;
}
.contact-detail .detail span.col-50{
  width:50%;
}
.contact-detail .detail p i{
  font-size: 1.8em;
  color: rgb(7,156,246);
  margin-left:2%;
}
.contact-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.contact-detail .detail p i.right{
  margin-left:9%;
}
.contact-detail .detail p i.ion-android-close{
  color: #000;
}
/* contact-detail界面样式end */

/* niche-list页面样式 */
.niche-list .common, .custom-list .common{
  margin-top:20px;
}
.niche-list ion-content .common p{
  line-height: 2em;
  padding-left:3em;
  padding-top:10px;
  padding-bottom:10px;
}
.niche-list ion-content .common p span{
  line-height: 2em;
  font-size: 0.9em;
}
.niche-list ion-content .common p i{
  left:-0.1em;
}
.niche-list .custom{
  position: absolute;
  left: -0.2em;
}
/* niche-list页面样式end */

/* activity-record界面样式 */
.activity-record .activity-info{
  position:relative;
  background-color: white;
  width:100%;
  margin:20px auto;
  padding:10px 20px 30px 20px;
}
.activity-record .activity-info p.name{
  padding-left: 30px;
  margin:0;
  line-height: 3em;
}
.activity-record .activity-info p.name i{
  font-size: 2.5em;
  position: absolute;
  left:20px;
  color: rgb(7,156,246);
}
.activity-record .activity-info p.name i.right{
  font-size: 2.5em;
  position: static;
  float: right;
  color: black;
}
.activity-record .activity-info span{
  display: block;
  font-size: 0.8em;
  margin-bottom:20px;
}
.activity-record .activity-info .record{
  padding-bottom: 20px;
  margin:0;
}
.activity-record .activity-info .address{
  position: relative;
  margin-top: 15px;
  height: 70px;
  padding-top: 5px;
  padding-left:60px;
  line-height: 25px;
  font-size: 0.9em;
  border:1px solid #a0a0a0;
  box-shadow: 5px 5px 5px #a0a0a0;
  margin-bottom:0;
}
.activity-record .activity-info .address img{
  position: absolute;
  left:0;
  width:50px;
  height:50px;
  border-radius: 10px;
  margin:5px;
  padding:0;
  vertical-align: top;
}
.activity-record .activity-info>i{
  margin-top:5px;
  color: #000;
  float: right;
  font-size: 1.2em;
}
.activity-record .activity-info>i:before{
  color: rgb(7,156,246);
  font-size: 1.5em;
}
.activity-record .tool{
  width:100%;
  background-color: white;
  margin-bottom: 20px;
}
.activity-record .tool div{
  display: inline-block;
  position: relative;
  width: 49%;
  text-align: center;
  border-right:1px solid #a0a0a0;
}
.activity-record .tool div:last-child{
  border:0;
}
.activity-record .tool div button{
  background-color: white;
  height: 3em;
  border:0;
  margin-bottom: 5px;
  padding:0 20px;
}
.activity-record .tool div button:after{
  content: '';
  display: inline-block;
  position: absolute;
  top:18px;
  right: 10px;
  border:5px solid transparent;
  border-top:10px solid #a0a0a0;
}
/* activity-record界面样式end */

/* search界面样式 */
.search .search-nav{
  height: 45px;
  background-color: rgb(7,156,246);
  line-height: 45px;

}
.search .search-nav div{
  display: inline-block;
  background-color: white;
  vertical-align: top;
  width:70%;
  height: 31px;
  margin:0;
  line-height: 31px;
  margin-left:15px;
  margin-top:7px;
  margin-right:3%;
  border-radius:5px;
}
.search .search-nav i{
  font-size: 1.3em;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.search .search-nav div input{
  display: inline-block;
  height: 25px;
  width:85%;
  line-height: 1.5em;
  margin:0;
  padding:0;
  font-size: 0.9em;
  vertical-align: middle;
}
.search .search-nav button{
  background-color: rgb(7,156,246);
  border:none;
  color: white;
}
.search ion-content.scroll-content {
  margin-top:45px;
}
/* search界面样式 */

/* scan界面样式 */
.scan .card{
  background-color: darkorange;
  width:100%;
  height:150px;
  margin:0;
  margin-top: 50px;
  margin-bottom:20px;
  line-height: 150px;
  text-align: center;
}
.scan .bill{
  background-color: orangered;
  width:100%;
  height:150px;
  margin:0;
  margin-top: 50px;
  margin-bottom:20px;
  line-height: 150px;
  text-align: center;
}
.scan span{
  font-size: 2.5em;
  color: #fff;
  position: relative;
  vertical-align: middle;
  line-height: 47px;
}
.scan span.after, .scan span.before{
  display: inline-block;
  width: 30px;
}
.scan span.before:before {
  content: '└';
  position: absolute;
  top: 7px;
  right:-10px;
}
.scan span.before:after {
  top: -57px;
  right:-10px;
  content: '┌';
  position: absolute;
}
.scan span.after:before {
  content: '┐';
  position: absolute;
  top: -57px;
  right:5px;
}
.scan span.after:after {
  content: '┘';
  position: absolute;
  top: 7px;
  right:5px;
}
/* scan界面样式end */



/* custom-detail界面样式 */
.custom-detail .head{
  width:100%;
  background-color: white;
}
.custom-detail .head p{
  display: inline-block;
  width:19.5%;
  text-align: center;
  margin:0;
}
.custom-detail .split{
  width:100%;
  padding:5px 0 5px 5%;
  margin:0;
  font-weight: bold;
}
.custom-detail .detail{
  background-color: white;
  margin:0;
}
.custom-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.custom-detail .detail span.col-28{
  display: inline-block;
  width:28%;
  margin-right: 10px;
}
.custom-detail .detail span.col-50{
  width:50%;
}
.custom-detail .detail p i{
  font-size: 1.8em;
  color: rgb(7,156,246);
  margin-left:2%;
}
.custom-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.custom-detail .detail p i.right{
  margin-left:9%;
}
.custom-detail .detail p i.ion-android-close{
  color: #000;
}
/* custom-detail界面样式end */



/* activity-state界面样式 */
.activity-state .state{
  margin: 0;
  background-color: white;
  padding:10px;
  border-top: 1px solid #c0c0c0;
  position: relative;
}
.activity-state .state:first-child{
  margin-top: 20px;
  border:0;
}
.activity-state div p{
  display: inline-block;
  margin: 0;
  margin-left: 5%;
  width:80%;
  line-height: 2em;
  height:2em;
}
.activity-state .state i{
  position: absolute;
  font-size: 2em;
  vertical-align: middle;
  color: rgb(7,156,246);
}
/* activity-state界面样式end */

/* attachment-list界面样式 */
.attachment-list .attachment{
  position: relative;
  margin-top: 30px;
  background: #fff;
  width:100%;
  padding:15px;
  padding-left: 90px;
}
.attachment-list img{
  position: absolute;
  left:15px;
  width: 60px;
  height: 60px;
}
.attachment-list .attachment p{
  display: inline-block;
}
.attachment-list .attachment span{
  font-size: 0.9em;
  color: #808080;
}
.attachment-list .attachment i{
  position: absolute;
  font-size: 2em;
  top: 10px;
  right:20px;
}
/* attachment-list界面样式end */

/* custom-record和distribution-custom界面样式 */
.repeat-go-item ion-item{
  padding: 10px;
  margin-bottom: 20px;
}
.repeat-go-item ion-item.activated{
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
}
.repeat-go-item .common{
  margin:0;
}
.repeat-go-item .common p i{
  left:0;
}
/* custom-record界面样式end */

/* niche-detail界面样式 */
.niche-detail .head{
  width:100%;
  background-color: white;
}
.niche-detail .head p{
  display: inline-block;
  width:16.5%;
  text-align: center;
  margin:0;
}
.niche-detail .split{
  width:100%;
  padding:5px 0 5px 5%;
  margin:0;
  font-weight: bold;
}
.niche-detail .detail{
  background-color: white;
  margin:0;
}
.niche-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.niche-detail .detail span.col-28{
  display: inline-block;
  width:28%;
  margin-right: 10px;
}
.niche-detail .detail span.col-50{
  width:50%;
}
.niche-detail .detail p i{
  font-size: 1.8em;
  color: rgb(7,156,246);
  margin-left:2%;
}
.niche-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.niche-detail .detail p i.right{
  margin-left:9%;
  color: #000;
}
.niche-detail .detail p i.ion-android-close{
  color: #000;
}
/* niche-detail界面样式end */

/* attachment-detail界面样式 */
.attachment-detail .info{
  margin:0 auto;
  width:95%;
  font-size:0.9em;
  color: #808080;
}
.attachment-detail .info p{
  width:95%;
  margin:0 auto;
}
.attachment-detail .info img{
  display: block;
  width:90%;
  margin:50px auto;
}
/* attachment-detail界面样式end */
