/* Empty. Add your own CSS if you like */

/* 常用样式 */
ion-content.scroll-content{
  background-color: #f0f0f0;
  padding:0;
}
ion-content div.common{
  background-color: white;
  margin-top: 10px;
}
ion-content div.common p{
  position: relative;
  display: block;
  text-decoration: none;
  width: 90%;
  margin:0 auto;
  padding-left:2.5em;
  line-height:3.5em;
  vertical-align: middle;
  border-bottom: 1px solid #f0f0f0;
}
ion-content div.common p:last-child{
  border-bottom:0;
}
ion-content div.common i{
  position: absolute;
  font-size: 2.5em;
  left: -0.3em;
  color: rgb(7,156,246);
}
ion-content div.common i.right{
  position: static;
  float: right;
  color: black;
}
ion-content.has-header{
  top:7.5vh;
}
  /* 分隔p样式 */
.work ion-content div div, .team ion-content div div, .search-result ion-content div div{
  margin-top:0;
}
p.split{
  width:100%;
  padding:5px 0 5px 2%;
  margin:0;
  font-weight: bold;
}
  /* 分隔p样式end */
  /* 消息数量span样式 */
.home .has-msg-span span, .team span{
  float:right;
  display: inline-block;
  width:1.5em;
  height: 1.5em;
  line-height: 1.5em;
  background: red;
  color: #fff;
  border-radius: 1em;
  text-align: center;
  margin-top: 1.15em;
}
  /* 消息数量span样式end */
  /* tab栏样式 */
div.tab-nav.tabs{
  background-color: rgb(7,156,246);
}
div.tab-nav.tabs .tab-item{
  opacity: 1;
}
div.tab-nav.tabs a i{
  color: white;
}
div.tab-nav.tabs a span{
  color: white;
}
  /* tab栏样式end */

  /* head-bar样式 */
ion-header-bar.head-bar{
  background-color: rgb(7,156,246);
  height: 7vh;
}
ion-header-bar.head-bar .title{
  color: #fff;
  margin:0;
  vertical-align: middle;
}
ion-header-bar.head-bar {
  background-size:0 ;
}
ion-header-bar.head-bar button.button.icon{
  background: transparent;
  color: #fff;
  border:0;
  padding:0;
}
ion-header-bar.head-bar button.activated{
  border:0;
  font-weight: bold;
  background: transparent;
  color: #fff;
}
ion-header-bar.head-bar button:hover{
  background: transparent;
  color: #fff;
}
ion-header-bar.head-bar button.icon i.icon:before{
  font-size: 2em;
}
ion-header-bar.head-bar button.third-button.button.icon{
  position: absolute;
  top:6px;
  bottom:6px;
  padding:0 5px;
  right:10vw;
  z-index: 100;
}
  /* head-bar样式end */

  /* sort和sift工具样式 */
.sort-and-sift{
  width:100%;
  background-color: white;
  margin-bottom: 20px;
}
.sort-and-sift .function{
  display: inline-block;
  position: relative;
  width: 49.3%;
  text-align: center;
  border-right:1px solid #a0a0a0;
  background-color: white;
  border-radius: 0;
}
.sort-and-sift .function.no-border{
  border:0;
}
.sort-and-sift .function button{
  position: relative;
  background-color: white;
  height: 3em;
  border:0;
  margin-bottom: 5px;
  padding:0 20px;
}
.sort-and-sift .function button i{
  position: absolute;
  font-size: 1.2em;
  left:0;
}
.sort-and-sift div p{
  border-top:1px solid #a0a0a0;
  border-bottom:1px solid #a0a0a0;
  padding-left:5%;
  padding-top:5px;
  padding-bottom:5px;
  margin:0;
}
.sort-and-sift div div{
  border-top:1px solid #a0a0a0;
  border-bottom:1px solid #a0a0a0;
  padding-left:5%;
  padding-top:5px;
  padding-bottom:5px;
  margin:0;
}
.sort-and-sift div div:last-child{
  border-top:0;
}
.sort-and-sift div div input{
  margin-left:30px;
}
.sort-and-sift .popup{
  position: absolute;
  top: 47px;
  width:100%;
  background-color: white;
  z-index: 10;
}
  /* sort和sift工具样式end */

  /* 新建界面样式 */
ion-content.new.scroll-content{
  background-color: white;
}
.new .split{
  background-color: #f0f0f0;
}
.new .scan-card{
  width: 100%;
  padding: 20px;
  text-align: center;
  padding-bottom: 0;
  margin:0;
}
.new span{
  font-size: 2em;
  position: relative;
  color: #808080;
}
.new .scan-card span{
  display: inline-block;
  width: 30px;
}
.new .scan-card span.before:before {
  content: '└';
  position: absolute;
  right:-5px;
  top:-5px;
}
.new .scan-card span.before:after {
  content: '┌';
  position: absolute;
  right:-5px;
  top:-57px;
}
.new .scan-card span.after:before {
  content: '┐';
  position: absolute;
  right:7px;
  top:-57px;
}
.new .scan-card span.after:after {
  content: '┘';
  position: absolute;
  right:7px;
  top:-5px;
}
.new .scan-card img{
  width: 55px;
  height: 40px;
  border:0;
}
.new p.scan{
  width: 25%;
  text-align: center;
  margin:0 auto;
  white-space: pre;
  font-size: 0.8em;
  line-height: 2em;
  height: 2em;
  vertical-align: middle;
}
.new .info div{
  border-bottom:1px solid #f0f0f0;
  min-height: 40px;
  padding:1px 10px;
  line-height: 40px;
  position: relative;
}
.new .info label{
  display: inline-block;
  font-size: 0.9em;
  width:26%;
  margin-right:2%;
}
.new .info label i{
  font-size: 2em;
  line-height: 0.5em;
  vertical-align: middle;
  margin-left: 5px;
}
.new .info input[type="text"]{
  display: inline-block;
  border:1px solid #a0a0a0;
  height:25px;
  vertical-align: baseline;
  font-size: 0.9em;
  width: 60%;
}
.new .info input[type="radio"]{
  font-size: 1.2em;
}
.new .info .out-icon i{
  margin-left: 2%;
  font-size: 1.5em;
  color:rgb(7,156, 246);
}
.new .info .icon input{
  padding-right:20px;
}
.new .info .icon i{
  position: absolute;
  top:10px;
  left:81%;
  font-size: 1.3em;
  line-height: 0.5em;
  color:rgb(7,156,246);
}
.new .info select{
  display: inline-block;
  height:25px;
  vertical-align: baseline;
  font-size: 0.9em;
  width: 60%;
}
.new .info .sex i{
  margin-left: 5px;
  margin-right:15px;
  font-size: 1.2em;
}
  /* 新建界面样式end */

  /* 聊天消息发送栏样式 */
form.send *{
  padding:0;
  margin:0;
  color: rgb(7,156,246);
}
form.send{
  background-color: white;
  position: absolute;
  flex-flow:row;
  width: 100%;
  bottom:0;
  height: 3em;
  padding-top:2px;
  border-top:1px solid #cccccc;
}
form.send button {
  display: inline-block;
  width: 10%;
  font-size:1.5em;
  height: 2em;
  padding:0;
  color: #444;
  vertical-align: middle;
  border:0;
  background-color: white;
}
form.send button i{
  display: inline-block;
  vertical-align: bottom;
}
form.send .msg{
  display: inline-block;
  width: 66%;
  border:0;
  border-bottom:2px solid #ccc;
  padding:1px 0;
  vertical-align: middle;
  color: #000;
}
form.send .msg:focus{
  border-color: #387ef5;
}
  /* 聊天消息发送栏样式end */

  /* 弹出日历样式 */
.popup .prev_btn_section i, .popup .next_btn_section i{
  color: rgb(7,156,246);
}
.ionic_datepicker_popup .popup .popup-body .selected_date_full{
  background-color: rgb(7,156,246);
}
.ionic_datepicker_popup .popup .popup-body .year_select, .ionic_datepicker_popup .popup .popup-body .month_select{
  border-bottom:1px solid rgb(7,156,246);
}
.ionic_datepicker_popup .popup .popup-body .year_select:after, .ionic_datepicker_popup .popup .popup-body .month_select:after{
  color: rgb(7,156,246);
}
.ionic_datepicker_popup .popup .selected_date{
  background-color: rgb(7,156,246);
}
.ionic_datepicker_popup .popup .today{
  border:0;
}
.ionic_datepicker_popup .popup .popup-buttons button{
  background-color: rgb(7,156,246);
}
  /* 弹出日历样式end */
/* 常用样式end */



/* Home页面样式 */
  /* 搜索区域样式 */
.home .search {
  display: block;
  margin:0;
  margin-top: 7vh;
  height: 7.5vh;
  width:100%;
  background-color: rgb(7,156,246);
  padding:0 20px;
  border:0;
}
.home .search input{
  display: inline-block;
  width:85%;
}
.home .search i{
  float: right;
  color:white;
  font-size: 2.5em;
}
  /* 搜索区域样式end */

  /* home页面content样式 */
.home .padding{
  margin-top:6vh;
}
    /* home页面日历样式 */
.home .padding .date{
  background-color: white;
  width: 100%;
  padding:0.5em 0;
  margin-top: 10px;
  margin-bottom:10px;
}
.home ion-content .date table{
  width: 100%;
  margin:0 auto;
  text-align: center;
}
.home ion-content .date table thead{
  color:#a0a0a0;
}
.home .date .lastMonth {
  color: #a0a0a0;
}
.home .date table th, .home .date table td{
  position: relative;
  font-size:0.8em;
  display: inline-block;
  width: 2.5em;
  margin:0 2%;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
}
.home .date table td.selected{
  background-color: rgb(241,216,91);
  border-radius: 40px;
}
.home .date table td.has-activity:after{
  content: '';
  position: absolute;
  bottom:-2px;
  left:1.1em;
  display: block;
  width: 0.3em;
  height: 0.3em;
  background-color: red;
  z-index: 10;
  border-radius: 0.2em;
}
    /* home页面日历样式end */
    /* home页面活动样式 */
.home .activity{
  background-color: white;
  width: 100%;
}
.home .activity a{
  padding:0;
  min-height: 48px;
  line-height: 48px;
  vertical-align: middle;
}
.home .activity p{
  position: relative;
  width: 90%;
  margin:0 auto;
  border-bottom: 1px solid #f0f0f0;
  line-height: 3.5em;
  padding-left: 2.5em;
  vertical-align: middle;
}
.home .activity p i{
  position: absolute;
  font-size: 2.5em;
  left: -0.3em;
  color: rgb(7,156,246);
}
.home .activity ion-item{
  min-height: 0;
  margin:0 auto;
  height:49px;
  border:0;
  border-bottom: 1px solid #f0f0f0;
  width: 90%;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.home .activity ion-item:last-child{
  border:0;
}
.home .activity ion-item .time{
  color: rgb(7,100,200);
  margin-right: 70px;
}
.home .activity ion-item i{
  font-size: 1.3em;
  float: right;
  color: rgb(200,180,60);
}
    /* home页面活动样式end */
    /* home页面报销单和消息样式 */
.home .has-msg-span span{
  margin-right: 10px;
}
    /* home页面报销单和消息样式end */
  /* home页面content样式end */
/* home页面样式end */

/*CRM页面样式*/

/* CRM页面样式end */

/* Work页面样式 */

/* Work页面样式end */

/*team页面样式 */
.team span{
  margin-right: 67%;
}
/* team页面样式end */


/* me界面样式 */
.me .info {
  background-color: white;
  padding:10px 0;
}
.me .info>div {
  width: 90%;
  margin:0 auto;
}
.me .info img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right:10px;
}
.me .info>div div{
  display: inline-block;
  min-height: 50px;
  margin-top:20px;
  vertical-align: top;
  margin-right:10px;
}
.me .info p {
  font-size: 1.2em;
  margin:0;
}
.me .info span, .me .info div label {
  font-size: 0.9em;
  color:#505050;
}
.me .info i{
  position: static;
  float: right;
  color: black;
  font-size: 2.5em;
  margin-top:0.5em;
}
/* me界面样式end */

/* expense-claim界面样式 */

.expense-claim .is-examine{
  width:100%;
  background-color: white;
}
.expense-claim .is-examine div{
  display: inline-block;
  width: 49%;
  text-align: center;
  border-right:1px solid #a0a0a0;
}
.expense-claim .is-examine div:last-child{
  border:0;
}
.expense-claim .is-examine div button{
  background-color: white;
  height: 3em;
  border:0;
  margin-bottom: 5px;
  padding:0 20px;
}
.expense-claim .is-examine div button.selected{
  margin-bottom: 3px;
  border-bottom: 2px solid rgb(7,156,246);
}
.expense-claim .list{
  width: 100%;
}
.expense-claim .list p{
  margin:0;
  padding:5px 0;
  padding-left:5%;
  width: 100%;
  font-size: 1.1em;
  font-weight: bolder;
  background-color: #f0f0f0;
  border-top: 1px solid rgb(211,211,211);
  border-bottom: 1px solid rgb(211,211,211);
}
.expense-claim .list .item{
  padding: 10px;
}
.expense-claim .list .item.activated{
  borde: 0;
  background-color: white;
}
.expense-claim .list .item div{
  display: block;
  background-color: white;
  width: 100%;
  padding:10px 5%;
  color: #505050;
  font-size: 0.5em;
}
.expense-claim .list i{
  position: relative;
  float: right;
  color: black;
  font-size: 4.4em;
  right:-0.2em;
  top:0.3em;
}
.expense-claim span.date, .expense-claim span.applicant, .expense-claim span.theme{
  display: inline-block;
}
.expense-claim span.date{
  width:44%;
}
.expense-claim span.applicant{
  width:30%;
}
.expense-claim span.theme{
  width:74%;
}
.expense-claim .list .item:first-child{
  border-top:0;
}
/* expense-claim界面样式 end*/

/* expense-claim-detail界面样式 */
.expense-claim-detail p {
  margin:5px auto;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #f0f0f0;
}
.expense-claim-detail .head-info{
  background-color: white;
  border: 0;
}
.expense-claim-detail .head-info div{
  border-bottom:1px solid #f0f0f0;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
}
.expense-claim-detail .head-info div i{
  font-size: 2em;
  color: rgb(7,156,246);
  margin-right:10px;
  margin-left:1em;
}
.expense-claim-detail .head-info div.suggestion input{
  display: inline-block;
  width: 70%;
  height: 1.8em;
  line-height: 1.8em;
  border:1px black solid;
  margin-top: 5px;
  vertical-align: top;
}
.expense-claim-detail .head-info div:last-child{
  border-bottom: 0;
}
.expense-claim-detail .head-info div label{
  margin-left:20px;
}
.expense-claim-detail .head-info div span{
  float: right;
  margin-right: 40px;
}
.expense-claim-detail .detail .table-head{
  width: 100%;
  background-color: white;
  padding:10px 5px;
  height: 2.5em;
}
.expense-claim-detail .detail .table-head p{
  display: inline-block;
  width: 14%;
  text-align: center;
}
.expense-claim-detail .detail .table-head p.explanation{
  width: 25%;
  margin-left: 10px;
}
.expense-claim-detail .detail .item{
  padding:10px 5px 5px 5px;
  min-height: 2.5em;
}
.expense-claim-detail .detail p {
  background-color: white;
  display: inline-block;
  height:2.5em;
  line-height: 1em;
  font-size: 0.5em;
  vertical-align: middle;
  margin:0;
  width: 14%;
  text-align: center;
  color: black;
  font-weight: lighter;
}
.expense-claim-detail .detail .explanation {
  margin-left: 3px;
  width: 25%;
  white-space:normal;
  text-align: left;
}
.expense-claim-detail .examine{
  background-color: white;
  width:100%;
  padding:10px 5%;
  position: absolute;
  bottom:0;
  border-top:1px solid #cccccc;
}
.expense-claim-detail .examine button{
  border:none;
  background-color: white;
  color: rgb(7,156,246);
}
.expense-claim-detail .examine .left{
  float: left;
}
.expense-claim-detail .examine .right{
  float: right;
}
/* expense-claim-detail界面样式end */

/* dashboard-aggregate界面样式 */
.dashboard-aggregate ion-content.scroll-content{
  background-color: white;
}
.dashboard-aggregate .echarts-trend div{
  margin:0 auto;
}
.dashboard-aggregate .times{
  width: 90%;
  margin:10px auto;
  text-align: center;
}
.dashboard-aggregate .times button{
  background-color: white;
  width:20%;
  margin:0;
  border:1px solid rgb(211,211,211);
  height:2.5em;
}
.dashboard-aggregate .times .month{
  border-top-left-radius:9px;
  border-bottom-left-radius:9px;
}
.dashboard-aggregate .times .year {
  border-top-right-radius:9px;
  border-bottom-right-radius:9px;
}
.dashboard-aggregate .times .season{
  border-left:0;
  border-right: 0;
}
.dashboard-aggregate .times button.selected{
  background-color: rgb(211,211,211);
}
.dashboard-aggregate .list {
  width: 90%;
  margin:20px auto;
  padding:10px 0;
  border-bottom:1px solid rgb(211,211,211);
}
.dashboard-aggregate .list div{
  width: 80%;
  margin:0 auto;
}
.dashboard-aggregate .echarts-trend, .dashboard-aggregate .echarts-funnel{
  border-bottom:1px solid rgb(211,211,211);
  width: 90%;
  height:300px;
  margin:0 auto;
}
.dashboard-aggregate .echarts-funnel{
  height:250px;
}
/* dashboard-aggregate界面样式end */

/* work-circle界面样式 */
.work-circle ion-header-bar.head-bar{
  background: linear-gradient(to bottom, #bbb 0%,transparent 100%);
  background-color: transparent;
}
.work-circle ion-header-bar.head-bar button.button.icon i{
  font-size: 1.2em;
}
.work-circle ion-content.scroll-content{
  background-color: white;
  top:0;
}
.work-circle .background{
  position: relative;
  width: 100%;
}
.work-circle .background-img{
  width: 100vw;
  height:70vw;
  background-size: cover;
  -webkit-filter:blur(2px);
  background-image: url('../img/background/background0.jpg');
}
.work-circle .background img{
  width: 24vw;
  height: 24vw;
  position: absolute;
  bottom: 23vw;
  right:38vw;
  border-radius: 12vw;
  border: 1px solid #b0b0b0;
}
.work-circle .dynamic-container{
  width: 100%;
  margin-top:8vw;
}
.work-circle .dynamic{
  position: relative;
  width: 90%;
  margin:0 auto;
  padding-left:65px;
  padding-bottom:10px;
  margin-bottom:30px;
  border-bottom: 1px solid #f0f0f0;
}
.work-circle .dynamic .head{
  position: absolute;
  width: 50px;
  left:0;
  height: 50px;
  box-shadow: 2px 2px 2px #808080;
  display: inline-block;
}
.work-circle .dynamic .name{
  margin:0;
  font-size: 1.2em;
}
.work-circle .dynamic p{
  display: block;
  max-width:95%;
}
.work-circle .dynamic div img{
  width:20%;
  margin-right: 5%;
}
.work-circle .dynamic div span{
  font-size: 0.8em;
  color: #808080;
}
.work-circle .dynamic div i{
  color: rgb(7,156,246);
  float: right;
  font-size: 1.6em;
  margin-right: 8px;
}
.work-circle .dynamic .comment{
  margin-top: 10px;
  padding:0;
}
.work-circle .dynamic .comment span{
  font-size: 1em;
  color: rgb(7,156,246);
}
.work-circle .dynamic .comment p{
  margin:0;
  padding:0;
  font-size: 1em;
  color: #000;
}
.work-circle .dynamic .comment input{
  display: inline-block;
  width:70%;
  border:1px solid  #a0a0a0;
  height: 2em;
}
.work-circle .dynamic .comment button{
  margin-left: 5%;
  border: 0;
  background-color: rgb(7,156,246);
  color: #fff;
  height: 2em;
  vertical-align: bottom;
}
.like-animation{
  position: absolute;
  top: 40vh;
  left: 20vw;
  opacity: 0;
  width: 60vw;
  height: 60vw;
  margin: auto;
  text-shadow: 0px 0px 10px rgb(187, 187, 187);
  text-align: center;
  font-size: 60vw;
  color: red;
}
.like-animation.run-animation{
  -webkit-animation: win_state 1.5s ease 0s;
  -moz-animation: win_state 1.5s ease 0s;
  -o-animation: win_state 1.5s ease 0s;
  -ms-animation: win_state 1.5s ease 0s;
  animation: win_state 1.5s ease 0s;
  z-index: 10;
}
@keyframes win_state{
  0%{
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
    opacity: 0;

  }
  33%{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;
  }
  66%{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;

  }
  100%{
    -webkit-transform: scale(7);
    -moz-transform: scale(7);
    -o-transform: scale(7);
    -ms-transform: scale(7);
    transform: scale(7);
    opacity: 0;
  }
}
.big-image{
  position: absolute;
  top:30vh;
  left:15vw;
  width:70vw;
  height:70vw;
  margin:0;
  padding:0;
  z-index: 10;
  background-color: white;
}
.big-image.show{
  transform: scale(1);
  transition:all 1s;
}
.big-image.hidden{
  transform: scale(0);
  transition:all 1s;
}
.big-image.none{
  transform: scale(0);
}
@keyframes show-big-image{
  form{
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
  }
  to{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes close-big-image{
  from{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to{
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
  }
}
/* work-circle界面样式end */

/* activity-detail界面样式 */
.activity-detail .head{
  background-color: white;
  width:100%;
  margin:0;
  padding:0;
}
.activity-detail .head p{
  text-decoration: none;
  text-align: center;
  color: black;
  margin:0;
}
.activity-detail .detail{
  background-color: white;
  margin-bottom:20px;
}
.activity-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.activity-detail .detail span{
  margin-right: 2%;
}
.activity-detail .detail span.col-25{
  margin-right: 0;
}
.activity-detail .detail p i{
  font-size: 1.8em;
  margin-left:0.5em;
  color: rgb(7,156,246);
}
.activity-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.activity-detail .detail p i.right{
  margin-left:1.8em;
  color: #000;
}
.activity-detail .detail p i.ion-android-close{
  color: #000;
}
.activity-detail .tool{
  width:100%;
  background-color: white;
}
.activity-detail .tool button{
  font-size: 2.5em;
  width:24%;
  border:0;
  background-color: transparent;
  color: rgb(7,156,246);
}
/* activity-detail界面样式end */

/* message界面样式以及Search-Result界面消息样式 */
.message .item, .search-result .message{
  position: relative;
  padding: 0;
}
.message .item img, .search-result .message img{
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 10px;
  left:15px;
  border-radius: 25px;
}
.message .item span.messageNum{
  position: absolute;
  top: 10px;
  left:50px;
  display: block;
  width: 20px;
  height:20px;
  background-color: red;
  border-radius:10px;
  color: #fff;
  text-align: center;
}
.message .item p, .search-result .message p{
  display: inline-block;
  margin-left: 80px;
}
.message .item p.name, .message .item p.time,
.search-result .message p.name, .search-result .message p.time{
  height:3em;
  vertical-align: bottom;
}
.message .item p.name,.search-result .message p.name{
  width: 25%;
  line-height: 3em;
}
.message .item p.time, .search-result .message p.time{
  margin-left: 25%;
  font-size: 0.5em;
}
.message .item p.text, .search-result .message p.text{
  text-overflow: ellipsis;
  max-width:62%;
}
.message .item i{
  position: absolute;
  right: 10px;
  bottom:15px;
  font-size: 2em;
}
/* message以及Search-Result界面样式end */

/* message-detail样式 */
.message-detail ion-content.scroll-content{
  bottom:43px;
}
.message-detail .item{
  width: 95vw;
  background-color: transparent;
  border:0;
  margin:0 auto;
  margin-top:10px;
  padding:10px 0;
  position: relative;
}
.message-detail img{
  display: inline-block;
  width:15vw;
  border-radius: 10px;
}
.message-detail span{
  position: relative;
  display: inline-block;
  line-height: 20px;
  padding:10px 10px;
  vertical-align: top;
  border-radius: 13px;
  white-space: normal;
  margin-top:5px;
  max-width: 70vw;
}
.message-detail .receive span{
  margin-left: 5vw;
  background-color: white;
}
.message-detail .receive span:before{
  position: absolute;
  left:-4.5vw;
  content: '';
  border-right: 20px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  font-size: 0;
  line-height: 0;
  top:10px;
}
.message-detail div.send img{
  float: right;
  right:0;
}
.message-detail div.send span{
  float: right;
  margin-right: 5vw;
  background-color: rgb(7,156,246);
  color: #fff;
}
.message-detail div.send span:after{
  position: absolute;
  right:-4.5vw;
  content: '';
  border-left: 20px solid rgb(7,156,246);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  font-size: 0;
  line-height: 0;
  top:10px;
}
.message-detail .send .content-expression{
  width:24px;
  float: none;
}
.message-detail .send .expression{
  position: absolute;
  top:-7.3em;
  width: 100%;
  padding-top:0.5em;
  padding-bottom:0.5em;
  background-color: white;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
}
.message-detail .send .expression div{
  display: inline-block;
  width: 10%;
  text-align: center;
}
.message-detail .send .expression img{
  width:24px;
  float: none;
}
.message-detail .send .expression.hide{
  border:0;
  height: 0;
  padding: 0;
}
/* message-detail样式end */

/* sale-funnel界面样式 */
.sale-funnel .chart{
  width:100%;
  height:600px;
}
/* sale-funnel界面样式end */

/* dashboard各柱状图界样式 */
.dashboard-specific .container{
  width:92%;
  margin:0 auto;
  margin-top:10px;
  background-color: white;
  border-radius: 10px;
}
.dashboard-specific .chartHead{
  font-size:0.9em;
  width:95%;
  margin:0 auto;
  padding-top: 5px;
  border-bottom: 1px solid #a0a0a0;
  padding-left: 5px;
  padding-bottom:10px;
}
.dashboard-specific .chartHead p{
  margin:0;
}
.dashboard-specific .chartHead i{
  font-size:1.5em;
  color: #808080;
  margin-right: 5px;
}
.dashboard-specific .chartHead span{
  margin-right:10%;
}
.dashboard-specific .chart{
  width:100%;
  height: 500px;
}
.goal-achievement .chart, .top-custom .chart{
  height:350px;
}
.key-niche .chart{
  height: 220px;
}
/* dashboard各柱状图界样式 */

/* search-result界面样式 */
.search-result .common p.activity{
  height: 6em;
}
.search-result .common p span{
  position: absolute;
  top:2.5em;
  left:-5px;
  font-size: 0.8em;
}
.search-result .common p .comment{
  font-size: 1em;
  position: absolute;
  left:90%;
  color: #000;
}
.search-result .common p .comment:before{
  color: rgb(7,156,246);
  font-size:25px;
}
.search-result .message{
  background-color: white;
  border-bottom:2px solid #f0f0f0;
}
.search-result .message p.name, .search-result .message p.time{
  height:2.5em;
}
.search-result .message i{
  position: absolute;
  right: 18px;
  bottom:25px;
  font-size: 2.2em;
}
.search-result .message .transmit{
  position: absolute;
  right:12px;
  bottom: 5px;
  font-size: 0.5em;
}
.search-result .message .transmit:before{
  color:rgb(7,156,246);
  font-size: 3em;
}
/* search-result界面样式end */

/* contacts界面样式 */
.contacts .common i.ion-ios-person-outline:before{
  border:1px solid rgb(7,156,246);
  height: 0.8em;
  width:0.8em;
  text-align: center;
  border-radius:30px;
  overflow: hidden;
  line-height: 0.8em;
}
/* contacts界面样式end */

/* contact-detail界面样式 */
.contact-detail .head{
  width:100%;
  background-color: white;
}
.contact-detail .head p{
  display: inline-block;
  width:33%;
  text-align: center;
  margin:0;
}
.contact-detail .detail{
  background-color: white;
  margin:0;
}
.contact-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.contact-detail .detail span.col-28{
  display: inline-block;
  width:28%;
  margin-right: 10px;
}
.contact-detail .detail span.col-50{
  width:50%;
}
.contact-detail .detail p i{
  font-size: 1.8em;
  color: rgb(7,156,246);
  margin-left:2%;
}
.contact-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.contact-detail .detail p i.right{
  margin-left:9%;
}
.contact-detail .detail p i.ion-android-close{
  color: #000;
}
/* contact-detail界面样式end */

/* niche-list页面样式 */
.niche-list .common, .custom-list .common{
  margin-top:20px;
}
.niche-list ion-content .common p{
  line-height: 2em;
  padding-left:3em;
  padding-top:10px;
  padding-bottom:10px;
}
.niche-list ion-content .common p span{
  line-height: 2em;
  font-size: 0.9em;
}
.niche-list ion-content .common p i{
  left:-0.1em;
}
.niche-list .custom{
  position: absolute;
  left: -0.2em;
}
/* niche-list页面样式end */

/* niche-stage界面样式 */
.niche-stage .stage{
  margin: 0;
  background-color: white;
  padding:10px;
  border-top: 1px solid #c0c0c0;
  position: relative;
}
.niche-stage .stage:first-child{
  margin-top: 20px;
  border:0;
}
.niche-stage div p{
  display: inline-block;
  margin: 0;
  margin-left: 5%;
  width:80%;
  line-height: 2em;
  height:2em;
}
.niche-stage .stage i{
  position: absolute;
  font-size: 2em;
  vertical-align: middle;
  color: rgb(7,156,246);
}
/* niche-stage界面样式end */

/* activity-record界面样式 */
.activity-record .activity-info{
  position:relative;
  background-color: white;
  width:100%;
  margin:20px auto;
  padding:10px 20px 30px 20px;
}
.activity-record .activity-info p.name{
  padding-left: 30px;
  margin:0;
  line-height: 3em;
}
.activity-record .activity-info p.name i{
  font-size: 2.5em;
  position: absolute;
  left:20px;
  color: rgb(7,156,246);
}
.activity-record .activity-info p.name i.right{
  font-size: 2.5em;
  position: static;
  float: right;
  color: black;
}
.activity-record .activity-info span{
  display: block;
  font-size: 0.8em;
  margin-bottom:20px;
}
.activity-record .activity-info .record{
  padding-bottom: 20px;
  margin:0;
}
.activity-record .activity-info .address{
  position: relative;
  margin-top: 15px;
  height: 70px;
  padding-top: 5px;
  padding-left:60px;
  line-height: 25px;
  font-size: 0.9em;
  border:1px solid #a0a0a0;
  box-shadow: 5px 5px 5px #a0a0a0;
  margin-bottom:0;
}
.activity-record .activity-info .address img{
  position: absolute;
  left:0;
  width:50px;
  height:50px;
  border-radius: 10px;
  margin:5px;
  padding:0;
  vertical-align: top;
}
.activity-record .activity-info>i{
  margin-top:5px;
  color: #000;
  float: right;
  font-size: 1.2em;
}
.activity-record .activity-info>i:before{
  color: rgb(7,156,246);
  font-size: 1.5em;
}
/* activity-record界面样式end */

/* search界面样式 */
.search .search-nav{
  height: 45px;
  background-color: rgb(7,156,246);
  line-height: 45px;
}
.search .search-nav div{
  display: inline-block;
  background-color: white;
  vertical-align: top;
  width:70%;
  height: 31px;
  margin:0;
  line-height: 31px;
  margin-left:15px;
  margin-top:7px;
  margin-right:3%;
  border-radius:5px;
}
.search .search-nav i{
  font-size: 1.3em;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.search .search-nav div input{
  display: inline-block;
  height: 25px;
  width:85%;
  line-height: 1.5em;
  margin:0;
  padding:0;
  font-size: 0.9em;
  vertical-align: middle;
}
.search .search-nav button{
  background-color: rgb(7,156,246);
  border:none;
  color: white;
}
.search ion-content.scroll-content {
  margin-top:45px;
}
/* search界面样式 */

/* scan界面样式 */
.scan .card{
  background-color: darkorange;
  width:100%;
  height:150px;
  margin:0;
  margin-top: 50px;
  margin-bottom:20px;
  line-height: 150px;
  text-align: center;
}
.scan .bill{
  background-color: orangered;
  width:100%;
  height:150px;
  margin:0;
  margin-top: 50px;
  margin-bottom:20px;
  line-height: 150px;
  text-align: center;
}
.scan span{
  font-size: 2.5em;
  color: #fff;
  position: relative;
  vertical-align: middle;
  line-height: 47px;
}
.scan span.after, .scan span.before{
  display: inline-block;
  width: 30px;
}
.scan span.before:before {
  content: '└';
  position: absolute;
  top: 7px;
  right:-10px;
}
.scan span.before:after {
  top: -57px;
  right:-10px;
  content: '┌';
  position: absolute;
}
.scan span.after:before {
  content: '┐';
  position: absolute;
  top: -57px;
  right:5px;
}
.scan span.after:after {
  content: '┘';
  position: absolute;
  top: 7px;
  right:5px;
}
/* scan界面样式end */



/* custom-detail界面样式 */
.custom-detail .head{
  width:100%;
  background-color: white;
}
.custom-detail .head p{
  display: inline-block;
  width:19.5%;
  text-align: center;
  margin:0;
}
.custom-detail .detail{
  background-color: white;
  margin:0;
}
.custom-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.custom-detail .detail span.col-28{
  display: inline-block;
  width:28%;
  margin-right: 10px;
}
.custom-detail .detail span.col-50{
  width:50%;
}
.custom-detail .detail p i{
  font-size: 1.8em;
  color: rgb(7,156,246);
  margin-left:2%;
}
.custom-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.custom-detail .detail p i.right{
  margin-left:9%;
}
.custom-detail .detail p i.ion-android-close{
  color: #000;
}
/* custom-detail界面样式end */



/* activity-state界面样式 */
.activity-state .state{
  margin: 0;
  background-color: white;
  padding:10px;
  border-top: 1px solid #c0c0c0;
  position: relative;
}
.activity-state .state:first-child{
  margin-top: 20px;
  border:0;
}
.activity-state div p{
  display: inline-block;
  margin: 0;
  margin-left: 5%;
  width:80%;
  line-height: 2em;
  height:2em;
}
.activity-state .state i{
  position: absolute;
  font-size: 2em;
  vertical-align: middle;
  color: rgb(7,156,246);
}
/* activity-state界面样式end */

/* attachment-list及product-list界面样式 */
.attachment-list .attachment, .product-list .attachment{
  position: relative;
  margin-top: 30px;
  background: #fff;
  width:100%;
  padding:15px;
  padding-left: 90px;
}
.attachment-list img, .product-list img{
  position: absolute;
  left:15px;
  width: 60px;
  height: 60px;
}
.attachment-list .attachment p, .product-list .attachment p{
  display: inline-block;
}
.attachment-list .attachment span, .product-list .attachment span{
  font-size: 0.9em;
  color: #808080;
}
.attachment-list .attachment i, .product-list .attachment i{
  position: absolute;
  font-size: 2em;
  top: 10px;
  right:20px;
}
/* attachment-list及product-list界面界面样式end */

/* custom-record和distribution-custom界面样式 */
ion-item.repeat-go-item{
  padding: 10px;
  margin-bottom: 20px;
}
ion-item.repeat-go-item.activated{
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
}
.repeat-go-item .common{
  margin:0;
}
.repeat-go-item .common p i{
  left:0;
}
/* custom-record和distribution-custom界面样式end */

/* niche-detail界面样式 */
.niche-detail .head{
  width:100%;
  background-color: white;
}
.niche-detail .head p{
  display: inline-block;
  width:16.5%;
  text-align: center;
  margin:0;
}
.niche-detail .detail{
  background-color: white;
  margin:0;
}
.niche-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.niche-detail .detail span.col-28{
  display: inline-block;
  width:28%;
  margin-right: 10px;
}
.niche-detail .detail span.col-50{
  width:50%;
}
.niche-detail .detail p i{
  font-size: 1.8em;
  color: rgb(7,156,246);
  margin-left:2%;
}
.niche-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.niche-detail .detail p i.right{
  margin-left:9%;
  color: #000;
}
.niche-detail .detail p i.ion-android-close{
  color: #000;
}
/* niche-detail界面样式end */

/* attachment-detail界面样式 */
.attachment-detail .info{
  margin:0 auto;
  width:95%;
  font-size:0.9em;
  color: #808080;
}
.attachment-detail .info p{
  width:95%;
  margin:0 auto;
}
.attachment-detail .info img{
  display: block;
  width:90%;
  margin:50px auto;
}
.attachment-detail .tool{
  background-color: white;
  width:100%;
  padding:0 5%;
  position: absolute;
  bottom:0;
  border-top:1px solid #cccccc;
}
.attachment-detail .tool button{
  border:none;
  background-color: white;
  color: rgb(7,156,246);
  font-size: 2em;
}
.attachment-detail .tool .left{
  float: left;
}
.attachment-detail .tool .right{
  float: right;
}
/* attachment-detail界面样式end */

/* new-attachment界面样式 */
.new-attachment .detail{
  background-color: white;
  min-height: 220px;
}
.new-attachment .explanation{
  font-size: 0.9em;
  background-color: white;
  width:100%;
  min-height:150px;
  resize: none;
}
.new-attachment .detail .popup{
  display: inline-block;
  margin:5px 10px;
  font-size:5em;
  line-height: 0.5em;
  height: 1em;
  width: 1em;
  color: #a0a0a0;
  font-weight: 100;
  border:1px solid;
  text-align: center;
}
.new-attachment .detail .popup span{
  display: inline-block;
  line-height: 0;
  height:0;
  vertical-align: middle;
}
.new-attachment .tool {
  position: absolute;
  bottom: 50px;
  width:100%;
  background-color: transparent;
}
.new-attachment .tool p{
  background-color: white;
  margin:0;
  width:100%;
  text-align: center;
  padding:10px 0;
}
.new-attachment .tool p.photo{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.new-attachment .tool p.album{
  border-top:1px solid #c0c0c0;
  border-bottom:1px solid #c0c0c0;
}
.new-attachment .tool p.system{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.new-attachment .tool p.cancel{
  margin-top:8px;
  text-align: center;
  color: red;
  border-radius: 10px;
}
/* new-attachment界面样式end */

/* product-detail界面样式 */
.product-detail .head{
  background-color: white;
  width:100%;
  margin:0;
  padding:0;
}
.product-detail .head p{
  text-decoration: none;
  text-align: center;
  color: black;
  margin:0;
}
.product-detail .detail{
  background-color: white;
  margin-bottom:20px;
}
.product-detail .detail img{
  display: inline-block;
  width:2em;
  vertical-align: middle;
}
.product-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.product-detail .detail span{
  margin-right: 2%;
}
.product-detail .detail span.col-25{
  margin-right: 0;
}
/* product-detail界面样式end */

/* activity-message界面样式 */
.activity-message .activity-info{
  position:relative;
  background-color: white;
  width:100%;
  margin:0 auto;
  padding:10px 20px 5px 20px;
  border-bottom: 1px solid #a0a0a0;
}
.activity-message .activity-info p.name{
  padding-left: 30px;
  margin:0;
  line-height: 3em;
}
.activity-message .activity-info p.name i{
  font-size: 2.5em;
  position: absolute;
  left:20px;
  color: rgb(7,156,246);
}
.activity-message .activity-info p.name i.right{
  font-size: 2em;
  position: static;
  float: right;
  color: black;
  margin-right: 10px;
}
.activity-message .activity-info span{
  display: block;
  font-size: 0.8em;
  margin-bottom:20px;
  color: #808080;
}
.activity-message .activity-info .record{
  padding-top:5px;
  padding-bottom: 35px;
  margin:0;
  line-height:1em;
  width:90%;
}
.activity-message .activity-info textarea.record{
  border:1px solid #a0a0a0;
  resize:none;
}
.activity-message .activity-info span.address{
  margin-bottom:0;
}
.activity-message .activity-info span.address i{
  font-size: 1.2em;
  margin-right: 5px;
}
.activity-message .activity-info p.address{
  position: relative;
  margin-top: 5px;
  height: 70px;
  padding-top: 5px;
  padding-left:60px;
  line-height: 25px;
  font-size: 0.9em;
  border:1px solid #a0a0a0;
  box-shadow: 5px 5px 5px #a0a0a0;
  margin-bottom:5px;
}
.activity-message .activity-info .address img{
  position: absolute;
  left:0;
  width:50px;
  height:50px;
  border-radius: 10px;
  margin:5px;
  padding:0;
  vertical-align: top;
}
.activity-message .activity-info>i{
  margin-top:5px;
  color: #000;
  float: right;
  font-size: 1.2em;
}
.activity-message .activity-info>i:before{
  color: rgb(7,156,246);
  font-size: 1.5em;
}
.activity-message .activity-info .common{
  margin-bottom: 0;
}
.activity-message .common-detail{
  width: 100%;
  padding:0;
  background-color: white;
  overflow: hidden;
}
.activity-message .common-detail > div {
  border-bottom: 1px solid #a0a0a0;
  padding:0 20px;
}
.activity-message .common-detail div div{
  position: relative;
  padding-left:2.8em;
}
.activity-message .common-detail span{
  color: #808080;
}
.activity-message .common-detail i{
  font-size: 2.5em;
  color: rgb(7,156,246);
  position: absolute;
  left:3px;
}
.activity-message .common-detail i:before{
  border:1px solid;
  height: 0.8em;
  width:0.8em;
  text-align: center;
  border-radius:30px;
  overflow: hidden;
  line-height: 0.8em;
}
.activity-message .common-detail div > p{
  margin-top:5px;
}
.activity-message .common-detail p span{
  color: rgb(7,156,246);
}
/* activity-message界面样式end */

/* quote-list及order-list界面样式 */
.quote-list .common p, .order-list .common p{
  border:0;
  padding-left:8%;
}
.quote-list .common p i, .order-list .common p i{
  font-size:3em;
  left:-0.1em;

}
.quote-list .common span, .order-list .common span{
  margin-left: 13%;
  color: #808080;
  font-size:0.8em;
}
/* quote-list及order-list界面界面样式end */

/* quote-detail及order-detail界面样式 */
.quote-detail .head, .order-detail .head{
  background-color: white;
  width:100%;
  margin:0;
  padding:0;
}
.quote-detail .head p, .order-detail .head p{
  text-decoration: none;
  text-align: center;
  color: black;
  margin:0;
}
.quote-detail .detail, .order-detail .detail{
  background-color: white;
  margin-bottom:20px;
}
.quote-detail .detail p, .order-detail .detail p{
  border-bottom:1px solid #f0f0f0;
  width:100%;
  padding:0;
  padding-left:5%;
  height: 2.7em;
  line-height: 2.7em;
  margin:0;
}
.quote-detail .detail p span i, .order-detail .detail p span i{
  float: none;
  margin-left:0;
  font-size: 2.5em;
  color: rgb(7,156,246);
}
.quote-detail .detail span, .order-detail .detail span{
  margin-right: 2%;
}
.quote-detail .detail span.col-25 ,.order-detail .detail span.col-25{
  margin-right: 0;
}
/* quote-detail及order-detail界面样式 */

/* expense-shorthand及new-expense-detail界面样式 */
.expense-shorthand .invoice, .new-expense-detail .invoice{
  width: 100%;
  background-color: white;
  padding:10px 5%;
  line-height: 1em;
}
.expense-shorthand .invoice img, .new-expense-detail .invoice img{
  width:50px;
  margin-right:5px;
}
.expense-shorthand .invoice i, .new-expense-detail .invoice i{
  font-size:2.5em;
  float: right;
}
.expense-shorthand .info textarea, .new-expense-detail .info textarea{
  display: inline-block;
  width:60%;
  resize: none;
  min-height:60px;
  border:1px solid;
}
.expense-shorthand .info textarea:focus, .new-expense-detail .info textarea:focus{
  border:2px solid rgb(7,156,246);
  border-radius: 3px;
}
.expense-shorthand .save-again, .new-expense-detail .save-again{
  background-color: white;
  width:100%;
  padding:10px 5%;
  position: absolute;
  bottom:0;
  border-top:1px solid #cccccc;
}
.expense-shorthand .save-again button, .new-expense-detail .save-again button{
  border:none;
  background-color: white;
  color: rgb(7,156,246);
}
.expense-shorthand .save-again .left, .new-expense-detail .save-again .left{
  float: left;
}
.expense-shorthand .save-again .right, .new-expense-detail .save-again .right{
  float: right;
}
/* expense-shorthand及new-expense-detail界面样式 */

/* new-expense界面样式 */
.new-expense .detail{
  background-color: white;
  width:100%;
}
.new-expense .detail div {
  position: relative;
  padding:5px 15% 5px 5%;
  height:3em;
  line-height: 3em;
  border-bottom: 1px solid #f0f0f0;
}
.new-expense .detail div span{
  float: right;
}
.new-expense .detail input{
  padding:0;
  position: absolute;
  top:7px;
  right:15%;
  width: 60%;
  border: 1px solid;
  height: 2em;
}
.new-expense .detail textarea{
  padding:0;
  position: absolute;
  top:7px;
  right:15%;
  width: 60%;
  border: 1px solid;
  resize: none;
  height: 4em;
}
/* new-expense界面样式end */

/* new-expense-claim界面样式 */
.new-expense-claim ion-content .date{
  width: 100%;
  padding:5px 5%;
}
.new-expense-claim ion-content .date span{
  display:inline-block;
  width:25vw;
  margin-right:50vw;
}
.new-expense-claim .expense {
  font-size: 0.9em;
  padding:10px 5%;
  background-color: white;
  position:relative;
  border-bottom:1px solid #f0f0f0;
}
.new-expense-claim .expense input{
  position:absolute;
  left:80vw;
}
.new-expense-claim .expense .col-55{
  width:55%;
}
.new-expense-claim .expense .col-33{
  width:33%;
  text-align: center;
}
.new-expense-claim .expense i{
  color: rgb(7,156,246);
}
.new-expense-claim .build{
  background-color: white;
  width:100%;
  padding:10px 5%;
  position: absolute;
  bottom:0;
  border-top:1px solid #cccccc;
  text-align: center;
}
.new-expense-claim .build button{
  background-color: white;
  border:0;
  color: rgb(7,156,246);
}
/* new-expense-claim界面样式end */

/* submit-expense-claim界面样式 */
.submit-expense-claim ion-content .date{
  width: 100%;
  padding:5px 5%;
}
.submit-expense-claim ion-content .date span{
  display:inline-block;
  width:25vw;
  margin-right:50vw;
}
.submit-expense-claim .expense {
  font-size: 0.9em;
  padding:10px 5%;
  background-color: white;
  position:relative;
  border-bottom:1px solid #f0f0f0;
}
.submit-expense-claim .expense input{
  position:absolute;
  left:80vw;
}
.submit-expense-claim .expense .col-55{
  width:55%;
}
.submit-expense-claim .expense .col-25{
  text-align: center;
}
.submit-expense-claim .expense span i{
  color: rgb(7,156,246);
}
.submit-expense-claim .expense .ion-ios-arrow-right{
  font-size: 2.5em;
  position: absolute;
  color: #000;
  top:0.7em;
  right:7%;
}
.submit-expense-claim .submit{
  background-color: white;
  width:100%;
  padding:10px 5%;
  position: absolute;
  bottom:0;
  border-top:1px solid #cccccc;
  text-align: center;
}
.submit-expense-claim .submit button{
  background-color: white;
  border:0;
  color: rgb(7,156,246);
}
/* submit-expense-claim界面样式end */

/* expense-claim-show界面样式 */
.expense-claim-show .invoice{
  width: 100%;
  background-color: white;
  padding:10px 5%;
  line-height: 1em;
}
.expense-claim-show .invoice img{
  width:50px;
  margin-right:5px;
}
.expense-claim-show .invoice i{
  font-size:2.5em;
  float: right;
}
.expense-claim-show .info textarea{
  display: inline-block;
  width:55%;
  resize: none;
  min-height:60px;
  border:1px solid;
}
.expense-claim-show .info textarea:focus{
  border:2px solid rgb(7,156,246);
  border-radius: 3px;
}
.expense-claim-show .info .date div{
  width: 60%;
  display: inline-block;
  border:0;
  margin:0;
  padding:0;
  text-align: center;
  position: relative;
}
.expense-claim-show .info .date input{
  width:48%;
}
.expense-claim-show .info .date input.left{
  float: left;
  margin-top:7px;
}
.expense-claim-show .info .date input.right{
  float: right;
  margin-top:7px;
}
.expense-claim-show .info .date i{
  position: absolute;
  font-size:1.5em;
  line-height: 0.5em;
  color: rgb(7,156,246);
}
.expense-claim-show .info .date i.left{
  top:10px;
  left:38%;
}
.expense-claim-show .info .date i.right{
  top:10px;
  right:2.5%;
}
/* expense-claim-show界面样式end */

/* expense-query界面样式 */
.expense-query .expense, .expense-query .shorthand {
  font-size: 0.9em;
  padding:10px 5%;
  background-color: white;
  position:relative;
  border-bottom:1px solid #f0f0f0;
}
.expense-query .expense .col-55, .expense-query .shorthand .col-55{
  width:55%;
}
.expense-query .expense .col-25, .expense-query .shorthand .col-25{
  text-align: center;
}
.expense-query .expense span i, .expense-query .shorthand span i{
  color: rgb(7,156,246);
}
.expense-query .expense .ion-ios-arrow-right, .expense-query .shorthand .ion-ios-arrow-right{
  font-size: 2.5em;
  position: absolute;
  color: #000;
  top:0.7em;
  right:7%;
}
/* expense-query界面样式end */

/* expense-chart界面样式 */
.department-expense {
  width:100%;
  height:350px;
}
.expense-type {
  width:100%;
  height:350px;
}
/* expense-chart界面样式end */

/* chat-setting界面样式 */
.chat-setting .member{
  padding: 5px 5%;
  background-color: white;
}
.chat-setting .member div{
  display: inline-block;
  margin-right:10px;
  text-align: center;
}
.chat-setting .member img{
  width: 40px;
  display: block;
  margin:0 auto;
  margin-bottom:5px;
}
.chat-setting .member i{
  width: 40px;
  text-align: center;
  margin:0 auto;
  margin-bottom:5px;
  border:1px solid;
  border-radius: 20px;
  display: block;
  font-size: 3em;
  color: rgb(7,156,246);
}
.chat-setting .member i:before{
  height: 40px;
  line-height: 40px;
  vertical-align: top;
}
.chat-setting .common-setting, .chat-setting .group-setting{
  margin-top:20px;
}
.chat-setting .common-setting p, .chat-setting .group-setting p{
  position: relative;
  height:54px;
  background-color: #fff;
  padding:16px;
  font-size: 16px;
  margin:0;
}
.chat-setting .common-setting p i, .chat-setting .group-setting p i{
  right:5%;
  top:10px;
  position: absolute;
  font-size:2em;
  vertical-align: text-bottom;
}
.chat-setting .group-setting p span{
  float: right;
  margin-right: 30px;
}
.chat-setting .tool{
  position: absolute;
  width:100%;
  bottom:1px;
}
.chat-setting .tool p{
  width:100%;
  text-align: center;
  background-color: white;
  color: red;
  padding:10px 0;
  border-radius:10px;
  margin:0;
}
/* chat-setting界面样式end */

/* my-information界面样式 */
.my-information .information{
  width: 100%;
  background-color: white;
}
.my-information .information div{
  width: 100%;
  padding:10px 20px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 30px;
  height: 50px;
  position: relative;
}
.my-information .information div.image{
  line-height: 50px;
  height: 70px;
}
.my-information .information img{
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius:25px;
  float: right;
  margin-right:10%;
}
.my-information .information div label{
  display: inline-block;
  width: 30%;
}
.my-information .information div span{
  display: inline-block;
  width: 60%;
  text-align: right;
}
.my-information .information div input{
  border: 1px solid;
  display: inline-block;
  vertical-align: text-bottom;
  height: 2em;
  line-height: 2em;
  width: 60%;
}
.my-information .information div i{
  position: absolute;
  top:6px;
  right: 8%;
  font-size: 2.5em;
}
.my-information .tool {
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: transparent;
}
.my-information .tool p{
  background-color: white;
  margin:0;
  width:100%;
  text-align: center;
  padding:10px 0;
}
.my-information .tool p.photo{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.my-information .tool p.album{
  border-top:1px solid #c0c0c0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.my-information .tool p.cancel{
  margin-top:8px;
  text-align: center;
  color: red;
  border-radius: 10px;
}
/* my-information界面样式end */

/* password-setting界面样式 */
.password-setting .tool {
  position: absolute;
  bottom: 1px;
  width:100%;
  background-color: transparent;
}
.password-setting .tool p{
  background-color: white;
  margin:0;
  width:100%;
  text-align: center;
  padding:10px 0;
}
.password-setting .tool p.submit{
  border-radius: 10px;
}
.password-setting .tool p.cancel{
  margin-top:8px;
  color: red;
  border-radius: 10px;
}
.password-setting .password{
  margin-top:15px;
  width: 100%;
  background-color: white;
}
.password-setting .password div{
  width: 100%;
  padding:0 5%;
  border-bottom:1px solid #f0f0f0;
  height: 2.5em;
  line-height: 2.5em;
}
.password-setting .password div label{
  display: inline-block;
  width:25%;
}
.password-setting .password input{
  display: inline-block;
  width: 60%;
  border: 1px solid;
  height: 2em;
  vertical-align: baseline;
}
/* password-setting界面样式end */

/* collection界面样式 */
.collection ion-content.scroll-content{
  background-color: white;
}
.collection .dynamic{
  position: relative;
  width: 90%;
  margin:0 auto;
  padding-top: 20px;
  padding-left:55px;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
}
.collection .dynamic .head{
  position: absolute;
  width: 50px;
  left:-5px;
  height: 50px;
  box-shadow: 2px 2px 2px #808080;
  display: inline-block;
}
.collection .dynamic .name{
  margin:0;
  font-size: 1.2em;
}
.collection .dynamic p{
  display: block;
  max-width:85vw;
}
.collection .dynamic div img{
  width:20%;
  margin-right: 5%;
}
.collection .dynamic div span{
  font-size: 0.8em;
  color: #808080;
}
.collection .delete{
  display: block;
  width: 25%;
  margin:0;
  padding:5px 0;
  position: relative;
  left:60vw;
  color: #808080;
}
.collection .placeholder {
  z-index: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  margin:0 auto;
  padding:0;
  top:35vh;
}
.collection .placeholder p{
  position: absolute;
  width: 100%;
  margin:0 auto;
}
/* collection界面样式end */

/* address-list界面样式 */
.address-list ion-content.scroll-content{
  background-color: white;
}
.address-list .contacts .split{
  background-color: #f0f0f0;
  padding:0 0 0 3%;
}
.address-list .contacts div{
  width:100%;
  padding:10px 6%;
  border-bottom: 1px solid #f0f0f0;
}
.address-list .contacts img{
  width:60px;
  display: inline-block;
  vertical-align: middle;
  margin-right:15px ;
}
.address-list ul.nav{
  position: fixed;
  top: 7vh;
  bottom:0;
  right:0.25em;
  padding:0;
  display: block;
  background-color: transparent;
  z-index: 9;
  text-align: center;
  border-radius: 10px;
  opacity:0.7;
  width: 1em;
}
.address-list ul.nav li{
  display: block;
  color: #606060;
  height: 3.3vh;
  text-align: center;
  font-weight: 600;
  z-index: 9;
}
.address-list .nav-back{
  display: block;
  position: fixed;
  top: 7vh;
  right:0;
  z-index:8;
  width: 1.5em;
  height: 1.5em;
  border-radius:1em;
  background-color: rgb(7,156,246);
  margin:0;
  padding:0;
}

@keyframes zoom-out
{
  0% {width: 1.5em;height: 1.5em;right:0;}
  50% {width:0.7em;height:0.7em;right:0.4em}
  100% {width: 1.5em;height: 1.5em;right:0;}
}
/* address-list界面样式end */

/* address-detail界面样式 */
.address-detail .info{
  background-color: white;
  width:100%;
  border-bottom: 1px solid #f0f0f0;
  padding:5px 5%;
  position: relative;
}
.address-detail .info:first-child{
  margin-top:20px;
}
.address-detail .name{
  font-weight: bold;
  font-size: 1.2em;
}
.address-detail .info p{
  margin:0;
  padding:5px 3%;
}
.address-detail .info label{
  font-size: 0.9em;
  color: rgb(7,156,246);
  margin-left:3%;
}
.address-detail .info i{
  position: absolute;
  font-size: 2.5em;
  right:5%;
  color: rgb(7,156,246);
  top: 10px;
}
.address-detail .info.note p{
  min-height: 4em;
}
.address-detail .tool {
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: transparent;
}
.address-detail .tool p{
  background-color: white;
  margin:0;
  width:100%;
  text-align: center;
  padding:10px 0;
}
.address-detail .tool p.send{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.address-detail .tool p.save{
  border-top:1px solid #f0f0f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.address-detail .tool p.delete{
  margin-top:8px;
  text-align: center;
  color: red;
  border-radius: 10px;
}
/* address-detail界面样式end */

/* send-email界面样式 */
.send-email ion-content.scroll-content, .send-message ion-content.scroll-content{
  background-color: white;
}
.send-email .head, .send-message .head{
  width:90%;
  margin:0 auto;
}
.send-email .head div, .send-message .head div{
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}
.send-email .head div label, .send-message .head div label{
  width:20%;
  display: inline-block;
}
.send-email .head div input, .send-message .head div input{
  display: inline-block;
  width: 70%;
  vertical-align: baseline;
}
.send-email .head div textarea, .send-message .head div textarea {
  display: inline-block;
  width: 70%;
  border:1px solid #a0a0a0;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
}
/* send-email界面样式end */

/* map界面样式 */
.map div.scroll{
  height: 100%!important;
}
.map #container{
  width: 100%;
  height: 100%;
}
.map .input{
  position: absolute;
  width: 90vw;
  top:9vh;
  margin-left:5vw;
  z-index: 999;
}
.map .input input{
  height: 3em;
  width: 70vw;
  border: 1px solid #a0a0a0;
  border-radius: 1.5em;
  display: inline-block;
  margin-right: 2vw;
  vertical-align: bottom;
  padding:0 2vw;
}
.map .input button{
  display: inline-block;
  height: 3em;
  width: 18vw;
  background-color: rgb(7,156,246);
  color: white;
  border-radius: 10px;
  border:1px solid #a0a0a0;
  vertical-align: bottom;
}
/* map界面样式end */

/* change-background界面样式 */
.change-background ion-content.has-header{
  top:7vh;
  margin-top: -1px;
}
.change-background .padding .background{
  width: 100%;
  padding:0;
  margin:0;
  height: 10vh;
  background-size:100vw 70vw;
  overflow: hidden;
  transition:height 0.5s;
}
.change-background .padding .background.selected{
  height:70vw;
  transition:height 0.5s;
}
.change-background .padding .background i{
  color: rgb(7,156,246);
  font-size: 2em;
  float: right;
  margin-right: 10px;
  margin-top:10px;
}
/* change-background界面样式end */
